{% load bookingtags static %}

{% if alert_message %}
    {% if alert_message.message_type == 'warning' %}
        <script>vNotify.warning({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 2500});</script>
    {% elif alert_message.message_type == 'success' %}
        <script>vNotify.success({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 2500});</script>
    {% elif alert_message.message_type == 'error' %}
        <script>vNotify.error({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 5000});</script>
    {% else %}
        <script>vNotify.info({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 2500});</script>
    {% endif %}
{% endif %}

<!-- NOTE this snippet is only displayed if the user is allowed to book -->
<span class="helptex float-right"><i class="text-dark fas fa-times-circle"></i> NOT BOOKED</span><br/>
<span class="float-right">{% include "booking/includes/block_info.html" %}</span><br/>
<span class="float-right">
    <a class="btn btn-success btn-sm mb-1" href="#"><i id="loader_{{ course.id }}"></i> Book Course</a>
</span>