{% load bookingtags static %}

{% if alert_message %}
    {% if alert_message.message_type == 'warning' %}
        <script>vNotify.warning({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 6000});</script>
    {% elif alert_message.message_type == 'success' %}
        <script>vNotify.success({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 6000});</script>
    {% elif alert_message.message_type == 'error' %}
        <script>vNotify.error({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 6000});</script>
    {% else %}
        <script>vNotify.info({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'topLeft', visibleDuration: 6000});</script>
    {% endif %}
{% endif %}

<!-- NOTE this snippet is only displayed if the user is allowed to book -->
<span class="helptext float-right"><i class="text-dark fas fa-times-circle"></i> NOT BOOKED</span><br/>
<span class="float-right">
    {% if user_info.has_available_block  %}
        <span class="helptext">Credit block available</span>
    {% endif %}
</span><br/>
<span class="float-right">
    <a class="btn btn-success btn-sm mb-1" href="#"><i id="loader_{{ course.id }}"></i> Book Course</a>
</span>