{% load bookingtags %}
{% if not event.cancelled %} {# Cancelled events still show up with their courses #}
    <span data-toggle="tooltip" data-html="true"
          title="<span class='align-left'>
        {{ event.event_type.name|title }}<br/>
        Availability: {% if event.full %}Full{% elif event.spaces_left < 5 %}Limited{% else %}Space available{% endif %}<br/>
        {% if user_info.open %}
            {% if user_info.used_block and not button_info.in_basket %}
                Credit block used: {{ user_info.used_block|user_block_info:0 }}
            {% elif user_info.used_subscription  %}
                Subscription used: {{ user_info.used_subscription_info }}
            {% endif %}
        {% else %} 
            {% if user_info.has_available_subscription  %}
                Subscription available: {{ user_info.available_subscription_info }}<br/>
            {% elif user_info.has_available_block and not button_info.in_basket %}
                Credit block available: {{ user_info.available_block|user_block_info:0 }}
            {% endif %}
        {% endif %}
        </span>">
      <small><i class="text-secondary fas fa-info-circle"></i></small>
    </span>
{% endif %}