{% load bookingtags %}

{% if booking %}
        {% if view_as_user|on_waiting_list:event %}
                <a href="#" class="btn btn-xs btn-warning" id="leave_waiting_list_button">
                        <i id="loader_{{ booking.event.id }}"></i> Leave waiting list
                </a>
        {% else %}
                <a href="#" class="btn btn-xs btn-outline-dark" id="join_waiting_list_button">
                        <i id="loader_{{ booking.event.id }}"></i> Join waiting list
                </a>
        {% endif %}
{% else %}
        {% if view_as_user|on_waiting_list:event %}
        <a href="#" class="btn btn-xs btn-warning" id="leave_waiting_list_button">
                <i id="loader_{{ event.id }}"></i> Leave waiting list
        </a>
        {% else %}
        <a href="#" class="btn btn-xs btn-outline-dark" id="join_waiting_list_button">
                <i id="loader_{{ event.id }}"></i> Join waiting list
        </a>
        {% endif %}
{% endif %}