Django==3.1.9
coverage==4.5.4
Delorean==1.0.0
dj-database-url==0.5.0
django-allauth==0.42.0
django-braces==1.14.0
django-ckeditor==5.9.0
django-classy-tags==1.0.0  # for cookie-law
django-cookie-law==2.0.3
django-crispy-forms==1.9.1
django-debug-toolbar==2.0
django-email-obfuscator==0.1.5
django-environ==0.4.5
django-extensions==2.2.8
django-migration-testcase==0.0.15
django-paypal==1.0.0
dynamic-django-forms==0.1.4
#djangorestframework==3.10.3
#dj-static==0.0.6
psycopg2==2.8.4
python-dateutil==2.8.0
#PyYAML==5.1.2
model-bakery==1.0.1
pillow==7.1.2
gunicorn==19.7.1
#static3==0.7.0
shortuuid==0.5.0
beautifulsoup4==4.8.1
python-memcached==1.59
pytest==5.4.3
pytest-cov==2.10.0
pytest-django==3.9.0
pytest-freezegun==0.4.2
pytest-mock==3.2.0
xlwt==1.3.0
stripe==2.51.0