Django
coverage
Delorean
dj-database-url
django-allauth
django-braces
django-ckeditor
django-classy-tags  # for cookie-law
django-cookie-law
django-crispy-forms
django-debug-toolbar
django-email-obfuscator
django-environ
django-extensions
django-imagekit
django-migration-testcase
django-paypal
dynamic-django-forms
openpyxl
psycopg2
python-dateutil
model-bakery
pillow
gunicorn
shortuuid
beautifulsoup4
pytest
pytest-cov
pytest-django
pytest-freezegun
pytest-mock
stripe