{#smallest size - dropdown within main nav#}
<li class="nav-item dropdown d-block d-md-none">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Courses Options
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'studioadmin:choose_course_type_to_create' %}">Add course</a>
      <a class="dropdown-item" href="{% url 'studioadmin:courses' %}">Current/Upcoming</a>
      <a class="dropdown-item" href="{% url 'studioadmin:not_started_courses' %}">Upcoming only</a>
      <a class="dropdown-item" href="{% url 'studioadmin:past_courses' %}">Past</a>
    </div>
</li>
