{#smallest size - dropdown within main nav#}
<li class="nav-item dropdown d-block d-sm-none">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Courses Options
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'studioadmin:choose_course_type_to_create' %}">Add course</a>
      <a class="dropdown-item" href="{% url 'studioadmin:courses' %}">View/Edit</a>
    </div>
</li>
