{#smallest size - dropdown within main nav#}
<li class="nav-item dropdown d-block d-md-none">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Site Setup Options
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'studioadmin:disclaimer_contents' %}">Disclaimers</a>
      <a class="dropdown-item" href="{% url 'studioadmin:cookie_policies' %}">Cookie Policies</a>
      <a class="dropdown-item" href="{% url 'studioadmin:data_privacy_policies' %}">Data Privacy Policies</a>
    </div>
  </li>
