

{% if form.errors %}
    <div class="errorlist">Please correct the errors below</div>
{% endif %}

   <form class="dirty-check" action="" method="post">
       {% csrf_token %}

   <div class="disclaimer-form">
       <div class="col-12">
       {{ form.disclaimer_terms|linebreaks }}</div>
       <div class="form-group">
           <div class="col-12 {% if form.terms_accepted.errors %}errorlist{% endif %}">
               {{ form.terms_accepted }}<label for='id_terms_accepted'></label>
                 <label class="control-label" for='id_terms_accepted'>{{ form.terms_accepted.label }}</label>
                {% if form.terms_accepted.errors %} {{ form.terms_accepted.errors }}{% endif %}
           </div>

           <div class="helptext col-9 col-offset-3">{{ form.terms_accepted.help_text }}</div>
       </div>

       <div class="form-group">
           <div class="col-12 vspace {% if form.password.errors %}errorlist{% endif %}">
                <label class="control-label" for='password_id'>{{ form.password.label|safe }}</label>
                <div class="col-12 {% if form.password.errors %}errorlist{% endif %}">
                    {{ form.password }} {% if form.password.errors %}{{ form.password.errors }}{% endif %}
                </div>
           </div>
           <div class="helptext col-9 col-offset-3">{{ form.password.help_text }}</div>
       </div>

        <div class="col-12"><input class="btn btn-success" type="submit" value="Submit" /></div>
   </div>
   </form>

