{% extends 'base.html' %}
{% load accounttags %}

{% block content %}

<div class="container">

    {% include 'accounts/includes/account_nav.html' %}

           <h1 class="mt-5">Your Profile</h1>
           <div class="card">
               <h2 class="card-header">Personal Details</h2>
               <div class="card-body">
                   <div class="card-text"><strong>Username:</strong> {{ user.username }}</div>
                   <div class="card-text"><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</div>
                   <div class="card-text"><strong>Date of birth:</strong> {{ user.profile.date_of_birth }}</div>
                   <div class="card-text"><strong>Address:</strong> {{ user.profile.address }}, {{ user.profile.postcode }}</div>
                   <div class="card-text"><strong>Phone:</strong> {{ user.profile.phone }}</div>
                  <div class="card-text"><a class="btn btn-success" href="{% url 'accounts:update_profile' %}">Change</a></div>

                </div>
               </div>
            <div class="card">
               <h2 class="card-header">Emergency Contact Information</h2>
               <div class="card-body">
               <div class="card-text"><strong>Name:</strong> {{ user.profile.emergency_contact_name }} </div>
               <div class="card-text"><strong>Phone:</strong> {{ user.profile.emergency_contact_phone }} </div>
               <div class="card-text"><strong>Relationship:</strong> {{ user.profile.emergency_contact_relationship }} </div>
               <div class="card-text"><a class="btn btn-success" href="{% url 'accounts:update_profile' %}">Change</a></div>
               </div>
           </div>
            <div class="card">
               <h2 class="card-header">Email Addresses</h2>
               <div class="card-body">
                <div class="card-text"><strong>Primary email address:</strong> {{ user.email }}</div>
               <div class="card-text"><a class="btn btn-success" href="{% url 'account_email' %}">Change</a></div>
           </div>
            <div class="card">
               <h2 class="card-header">Disclaimer</h2>
               <div class="card-body">
                   {% if disclaimer %}
                <div class="col-12">Completed</div>
                {% else %}
                    <div class="col-12">
                       <p>You have not completed a disclaimer form.
                           This must be completed before you can make any bookings.</p>
                       <p><a href="{% url 'accounts:disclaimer_form' %}">Complete disclaimer form now</a></p>
                   </div>
               {% endif %}
           </div>

            </div>
{% endblock content %}

