{% extends 'base.html' %}
{% load accounttags crispy_forms_tags %}

{% block precontent %}
    {{ block.super }}
    {% include 'accounts/includes/account_nav.html' %}
{% endblock %}

{% block content %}

   <h1 class="mt-5">Register a managed user account</h1>
    <form class="dirty-check" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success mt-3" value="Register and proceed to disclaimer form">
    </form>


{% endblock content %}

