{% extends 'base.html' %}
{% load accounttags crispy_forms_tags %}

{% block precontent %}
    {{ block.super }}
    {% include 'accounts/includes/account_nav.html' %}
{% endblock %}

{% block content %}

    <div>
        {% if disclaimer_user == request.user %}
        <h2>Edit Your Emergency Contact Information</h2>
        {% else %}
        <h2>Edit Emergency Contact Information for {{ disclaimer_user.first_name }} {{ disclaimer_user.last_name }}</h2>
        {% endif %}
    </div>
    {% if form.errors %}
        <div class="errorlist">Please correct the errors below</div>
    {% endif %}

       <form class="dirty-check form" action="" method="post">
           {% csrf_token %}
            {% crispy form %}
       </form>

{% endblock %}
