{% extends 'base.html' %}
{% load accounttags %}

{% block content %}

<div class="container">

    {% include 'accounts/includes/account_nav.html' %}

    <div>
        {% if disclaimer_user == request.user %}
        <h1>Edit Your Emergency Contact Information</h1>
        {% else %}
        <h1>Edit Emergency Contact Information for {{ disclaimer_user.first_name }} {{ disclaimer_user.last_name }}</h1>
        {% endif %}
    </div>
    {% if form.errors %}
        <div class="errorlist">Please correct the errors below</div>
    {% endif %}

       <form class="dirty-check form" action="" method="post">
           {% csrf_token %}

           {% for field in form %}
                <div class="form-group">
                     <label class="control-label" for='id_{{ field.name }}'>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}<span class="errorlist">{{ field.errors }}</span>{% endif %}
                   </div>
                   <div class="helptext ">{{ field.help_text }}</div>
           {% endfor %}

            <div><input class="btn btn-success" type="submit" value="Submit" /></div>
       </form>

</div>
{% endblock %}
