<div class="subnav d-none d-md-block">
<nav class="navbar fixed-top fixed-top-subnav navbar-expand navbar-light" id="navbarCoursesSubNavContainer">
  <a class="navbar-brand" href="#">ADMIN: Courses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCoursesSubNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCoursesSubNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:choose_course_type_to_create' %}">Add course</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:courses' %}">Current/Upcoming</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:not_started_courses' %}">Upcoming only</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:past_courses' %}">Past</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="d-block d-md-none">
<ul class="nav">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Courses Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'studioadmin:choose_course_type_to_create' %}">Add course</a>
      <a class="dropdown-item" href="{% url 'studioadmin:courses' %}">Current/Upcoming</a>
      <a class="dropdown-item" href="{% url 'studioadmin:not_started_courses' %}">Upcoming only</a>
      <a class="dropdown-item" href="{% url 'studioadmin:past_courses' %}">Past</a>
    </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:courses' %}">Courses list</a></li>
</ul>
</div>