<div class="subnav d-none d-md-block">
<nav class="navbar fixed-top fixed-top-subnav navbar-expand navbar-light" id="navbarEventsSubNavContainer">
  <a class="navbar-brand" href="#">ADMIN: Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEventsSubNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarEventsSubNav">
    <ul class="navbar-nav">
      </li>
        <a class="nav-link" href="{% url 'studioadmin:registers' %}">Registers</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:choose_event_type_to_create' %}">Add event</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:events' %}">View/Edit</a>
      </li>
       <li class="nav-item">
           <a class="nav-link" href="{% url 'studioadmin:past_events' %}">Past events</a>
       </li>
      </ul>
  </div>
</nav>
</div>

<div class="d-block d-md-none">
<ul class="nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'studioadmin:registers' %}">Registers</a>
          <a class="dropdown-item" href="{% url 'studioadmin:choose_event_type_to_create' %}">Add event</a>
          <a class="dropdown-item" href="{% url 'studioadmin:events' %}">View/Edit</a>
          <a class="dropdown-item" href="{% url 'studioadmin:past_events' %}">Past events</a>
        </div>
    </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:timetable' %}">Events list</a></li>
</ul>
</div>