{#larger sizes sub navbar#}
<div class="subnav d-none d-md-block">
<nav class="navbar fixed-top fixed-top-subnav navbar-expand navbar-light" id="navbarPoliciesSubNavContainer">
  <a class="navbar-brand" href="#">ADMIN: Policies</a>
  <div class="collapse navbar-collapse" id="navbarPoliciesSubNav">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:disclaimer_contents' %}">Disclaimers</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:cookie_policies' %}">Cookie Policies</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:data_privacy_policies' %}">Data Privacy Policies</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="d-block d-md-none">
<ul class="nav" id="policiesNav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Policies Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'studioadmin:disclaimer_contents' %}">Disclaimers</a>
          <a class="dropdown-item" href="{% url 'studioadmin:cookie_policies' %}">Cookie Policies</a>
          <a class="dropdown-item" href="{% url 'studioadmin:data_privacy_policies' %}">Data Privacy Policies</a>
        </div>
      </li>
</ul>
</div>