{% extends 'email_base.html' %}

{% block messagecontent %}
<h2>Thank you for your payment.</h2>
<p><strong>Invoice number:</strong> {{ invoice.invoice_id }}</p>
{% if invoice.transaction_id %}
<p><strong>Paypal Transaction id:</strong> {{ invoice.transaction_id }}</p>
{% endif %}
<p><strong>Purchased:</strong>
    <ul>
        {% for item in invoice.items_dict.values %}
            <li>{{ item.name }}{% if item.user %} ({{ item.user.first_name }} {{ item.user.last_name }}){% endif %}</li>
        {% endfor %}
    </ul>
</p>

{% if invoice.gift_vouchers.exists %}
    <p>*Gift voucher codes and a link to a printable voucher will be sent in separate email(s)</p>
{% endif %}
{% if invoice.product_purchases.exists %}
    <p>**Merchandise is available to collect from the studio</p>
{% endif %}

{% endblock %}