{% extends "account/base.html" %}

{% load accounttags bookingtags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block content %}

   {% include 'common/includes/view_as_user.html' %}


    <h1>Credit Blocks</h1>

    {% if blocks %}
        {% for block in blocks %}
        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark pt-1 pb-1">{{ block.block_config }}
                <a href="{% url 'booking:block_detail' block.id %}" class="btn btn-sm btn-dark float-right pt-0 pb-0">View details</a>
            </div>
            <div class="list-group-item {% if not block.active_block %}list-group-item-secondary{% endif %} pb-0 pt-0">
                Purchased: {{ block.purchase_date | date:"d-M-Y" }} - {{ block|block_expiry_text }}<br/>
                Uses: {{ block.bookings.count }}
            </div>
        </div>
        {% endfor %}

    {% else %}
        <p>{{ view_as_user|full_name }} does not have any credit blocks.</p>
    {% endif %}

    {% include 'common/includes/single_page_pagination.html' %}


{% endblock content %}
