{% extends "account/base.html" %}

{% load bookingtags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block content %}
<div id="confirm-dialog"></div>

    <h2 class="mt-2">{% if history %}Past{% else %}Active{% endif %} Bookings</h2>

    <form class="form-inline pb-3" method="post">
        {% csrf_token %}
        {{ available_users_form }}
    </form>

    {% if bookings_by_date %}

        {% for date, bookings in bookings_by_date.items %}
            <div class="list-group mb-2">
                <div class="list-group-item list-group-item-dark pt-1 pb-1">{{ date|date:"D d M Y" }}</div>
                {% for booking in bookings %}
                    <div id="list-item-{{ booking.event.id }}" class="list-group-item pt-1 pb-1 {% if booking.status == 'CANCELLED' or booking.no_show %}list-group-item-secondary text-secondary{% endif %}">
                        <a href="{% url 'booking:event' booking.event.slug %}">
                                {{ booking.event.start|date:"H:i"  }} {{ booking.event.name }}
                        </a> <em><span id="cancelled-text-{{ booking.event.id}}">
                            {% if not booking.event.cancelled and booking.status == 'CANCELLED' or not booking.event.cancelled and booking.no_show %}
                                You have cancelled this booking
                            {% endif %}
                            </span></em>
                            <span class="float-right">
                            {% if not history and booking|can_book_or_cancel %}
                                <span
                                    id="book_{{ booking.event.id }}"
                                    data-user_id="{{ booking.user.id }}"
                                    data-ref="bookings"
                                    data-event_id="{{ booking.event.id }}"
                                    data-show_warning={{ booking|show_booking_warning|yesno:"1,0" }}
                                    data-cancellation_allowed={{ booking.event.event_type.allow_booking_cancellation|yesno:"1,0" }}
                                    class="ajax_events_btn">
                                    {% include "booking/includes/bookings_button.txt" %}
                                </span>
                                {% elif booking.event.full %}
                                    {% if booking.status == "CANCELLED" or booking.no_show %}
                                        <span
                                            id="waiting_list_button_{{ booking.event.id }}"
                                            data-event_id="{{ booking.event.id }}"
                                            data-user_id="{{ booking.user.id }}"
                                            class="ajax_events_waiting_list_btn">
                                        {% include "booking/includes/waiting_list_button.html" %}
                                        </span>
                                    {% endif %}
                                {% elif booking.event.cancelled %}
                                    <span>Event Cancelled</span>
                                {% elif booking.event|booking_restricted %}
                                    <span class="float-right"><a class="btn btn-xs btn-secondary" disabled href="#">Booking unavailable</a></span>
                            {% endif %}
                            </span>
                        <div>
                            <span class="helptext">{{ booking.event.event_type.name|title }}</span>
                            <span class="helptext"> | Availability:
                                <span id="availability_{{ booking.event.id }}">{% include 'booking/includes/event_availability_badge.html' %}</span>
                            </span>
                            {% if booking.event.course %}
                                | <a href="{% url 'booking:course_events' booking.event.course.slug %}"><span class="badge badge-course">Course: {{ booking.event.course.name|truncatechars:30 }} ({{ booking.event.course_order }})</span></a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                {% booking_user_info booking as user_info %}
                                <span id="block_info_{{booking.event.id}}">
                                    {% include 'booking/includes/block_info.html' %}
                                </span>

                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% include 'common/includes/single_page_pagination.html' %}

    {% else %}
        <p>No bookings to display.</p>
    {% endif %}

{% endblock content %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax-v1.js' %}"></script>
{% endblock %}