{% extends "base.html" %}

{% load accounttags bookingtags static email_obfuscator %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block content %}

<div id="confirm-dialog"></div>

   {% include 'common/includes/view_as_user.html' %}

    <h2 class="mt-1">Courses</h2>
    <h3 class="mt-1">{{ title }}
    {% for track_obj in tracks %}
        {% if track_obj != track %}
            <span class="expired expired-track">| <a class="expired" href="{% url 'booking:courses' track_obj.slug %}">{{ track_obj.name }}</a></span>
        {% endif %}
    {% endfor %}
    </h3>

    <div class="row">
    <div class="col-12 mb-2">
        <span class="float-left"><a class="btn btn-outline-primary btn-sm" href="{% url 'booking:events' track.slug %}">View {{ track.pluralized_event_type_label }}</a></span>
        {% if request.user.is_authenticated %}<span class="float-right"><a class="btn btn-outline-primary btn-sm" href="{% url 'booking:bookings' %}">My Bookings</a></span>{% endif %}
    </div>
    </div>


    <div class="row">
    <div class="col-12">
        {% if courses %}

        {% for course in courses %}
            {% with button_info=button_options|lookup_dict:course.id user_info=user_course_booking_info|lookup_dict:course.id %}

            <div class="row event-card event-card-header list-group-item-secondary">
                <div class="col-12 p-1">{{ course.name }}
                    <span {% if not user_info.has_booked_all or user_info.items_in_basket %}class="hidden"{% endif %}><i class="text-success fas fa-check-circle"></i></span>
                    <span class="float-right">
                        <a class="btn btn-xs btn-dark" href="{% url 'booking:course_events' course.slug %}">Course details</a>
                    </span>
                </div>
            </div>

                <div class="row event-card event-card-item">

                    <div class="col-8 pt-2 pb-2 pl-1">
                        <strong>{{ course.event_type.label|title }} Dates:</strong>
                        <ul class="pl-1">
                        {% for event in course.uncancelled_events %}
                        <li style="list-style: none;" class="ninety-pct"
                            {% if event.is_past %}class="expired"{% endif %}>
                            {{ event.start|date:"D d-M-y, H:i" }}-{{ event.end|date:"H:i" }}
                            {% if event.id in user_info.in_basket_event_ids %}
                                <i class="text-secondary fas fa-shopping-cart"></i>
                            {% elif event.id in user_info.booked_event_ids %}
                                <i class="text-success fas fa-check-circle"></i>{% else %}
                                <i class="text-dark fas fa-times-circle"></i>
                            {% endif %}
                        </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div class="col-4 pt-2 pb-2 pr-1 pl-1 float-right">
                            <!-- booking buttons and info text -->
                            {% if request.user.is_authenticated %}
                            {% if view_as_user|has_disclaimer %}
                                <div class="row">
                                    <div class="col-12">
                                        {% if button_info.button == "book" %}
                                            <div
                                                id="book_course_{{ course.id }}"
                                                data-user_id="{{ view_as_user.id }}"
                                                data-ref="course_list"
                                                data-page="{{ request.GET.page }}"
                                                data-course_id="{{ course.id }}"
                                                class="ajax_course_events_btn float-right">
                                                {% include "booking/includes/course_list_button.html" %}
                                            </div>
                                        {% elif button_info.button == "add_course_to_basket" %}
                                            <span class="float-right">
                                                <span 
                                                    id="add_course_to_basket_{{ course.id }}"
                                                    data-course_id="{{ course.id }}"
                                                    data-event_id="{{ course.events.first.id }}"
                                                    data-user_id="{{ view_as_user.id }}"
                                                    data-ref="course_list"
                                                    class="ajax_add_course_to_basket_btn"
                                                > 
                                                <span class="btn btn-sm btn-primary float-right mb-2"><i id="loader_course_{{ course.events.first.id }}"></i><i class="fas fa-shopping-cart"></i> Add course</span>
                                                </span/>
                                            </span/>
                                        {% elif button_info.button == "view_cart" %}
                                            <span id="view_cart_{{ course.id }}" class="float-right">
                                                <a class="btn btn-sm btn-outline-primary mb-2" href="{% url 'booking:shopping_basket' %}">
                                                <i class="fas fa-shopping-cart"></i> View cart
                                                </a>
                                            </span
                                        {% endif %}
                                        
                                        {% if user_info.has_booked_course %}
                                            <br/><span class="float-right">{% include "booking/includes/block_info.html" %}</span>
                                        {% endif %}
                       
                                    </div>
                                    <div class="col-12">
                                        <span class="float-right {% if not button_info.text_no_style %}helptext{% endif %}">{{ button_info.text }}</span>
                                    </div>

                                </div>
                            {% elif view_as_user|has_expired_disclaimer %}
                                <span class="helptext float-right"><a href="{% url 'accounts:disclaimer_form' view_as_user.id %}">Update expired disclaimer</a> to book</span>
                            {% else %}
                                <span class="helptext float-right"><a href="{% url 'accounts:disclaimer_form' view_as_user.id %}">Complete a disclaimer</a> to book</span>
                            {% endif %}
                        {% else %}
                            <span class="helptext float-right"><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in</a> or <a href="{% url 'account_signup' %}">register</a> to book</span>
                        {% endif %}
                    </div>
                </div>
            {%  endwith %}
        {% endfor %}

            {% include 'common/includes/single_page_pagination.html' %}

    {% else %}
        <p>No courses scheduled.</p>
    {% endif %}
    </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax-v5.js' %}"></script>
<script type='text/javascript' src="{% static 'booking/js/add_to_basket_ajax-v1.js' %}"></script>
{% endblock %}