{% extends "base.html" %}
{% load static email_obfuscator %}

{% block content %}
<h2>COVID 19 POLICY</h2>
<p>
    Freedom of Flight Aerial look forward to welcoming students back to our Aerial Haven. To make this possible we 
    will be following Scottish Government Guidelines and best practice on running Aerial Skills sessions. Our aim is 
    to provide a place where you feel safe to return to class and understand the policies and procedures, we have put 
    in place to mitigate risks.</p>

<p>The policy will outline what has changed, social distancing policy, class procedures, 
    class booking/cancellations and our covid-19 track and trace policy.</p>

<h3>What has changed?</h3>

<ul>
    <li>Only 24 people can be in the studio at one time (including instructors)</li>
    <li>Classes will be limited to 1 student per piece of equipment and 2m social distancing</li>
    <li>Class time has been reduced to allow for cleaning and no cross over of students</li>
    <li>All classes will be done as courses and no longer working with the class pass system</li>
    <li>Return to aerial and beginners courses will be available</li>
    <li>Spotting will only be available when the risk to life is greater than the risk of catching the virus</li>
    <li>Our schedule is subject to change, depending on demand we may add or remove classes</li>
    <li>At this point in time we do not know when restrictions will be lifted or when we can revert back to our old 
        system of classes. Thank you for your patience and understanding and please be sure that we are doing 
        everything possible to maintain a high quality of service, a safe training environment and fair booking 
        system to our Members and Staff.</li>
    <li>All course sales are final and non-refundable, we will not be offering make up sessions or refunds for 
        missed classes.</li><li>If you can not attend due to isolation due to the corona virus, you will be issued 
    a credit towards your next course.</li>
    <li>Reception will be closed; if you are dropping off or picking up children from class, collection will be from the car park.</li>
</ul>

<h3>Social distancing</h3>
<ul>
    <li>Participation in class is entirely voluntary and at your own risk</li>
    <li>Please arrive no sooner than 5-10 minutes before your class start time</li>
    <li>Anyone arriving after the class start time will not be able to take part and refunds/make up classes are not 
        given for latecomers.</li>
    <li>2 meters social distancing must be in place at all times (unless you are part of the same household)</li>
    <li>Face coverings will be mandatory whilst not at your aerial station (unless medically exempt)</li>
    <li>You will be asked to remain in your aerial station during class, except if you need to wash hands, use
        the bathroom or require medical attention</li>
    <li>The instructors will remain 2m distance at all times, there will be no physical assistance or spotting in
        the initial phase of return. The instructor will step in if the risk to life is greater than the risk of
        catching the corona virus.</li>
</ul>

<h3>Before, during and after class</h3>
<ul>
    <li>Under no circumstances should you come to class if you are feeling unwell, showing corona virus symptoms
        or if you have been advised to self-isolate. Students must adhere to current government guidelines on
        when to isolate.</li>
    <li>Please come to class as ready as possible and only bring essential items into the studio.</li>
    <li>Once welcomed into the studio, you will leave your shoes and outdoor clothing in reception and collect your
        tray and head to your aerial station.</li>
    <li>Your tray holds, cleaning products, phone holder, hand sanitizer and space for your essential items for
        class.\u200b</li>
    <li>Please remember to bring a hair tie for long hair, remove all jewelry and bring a water bottle.</li>
    <li>Please bring your own grip aids, we have stickum spray and rosin tins for sale.</li>
    <li>At the end of the class you will be asked to wipe down or help store equipment used with the cleaning
        supplies provided.</li>
    <li>We ask people to leave promptly, collecting all items as we will no longer store lost property and
        maintain social distancing at all times.</li>
    <li>If you do become ill or suffer corona virus symptoms and have been to class please inform us as soon as
        possible at {{ studio_email|obfuscate_mailto }}</li>
</ul>

<h3>Hygiene Policy</h3>
<ul>
    <li>Wash hands and entering and leaving the building, after using the bathroom or after coughing or sneezing.</li>
    <li>Or use hand sanitiser provided at any time.</li>
    <li>Use a tissue or cover your mouth whist coughing or sneezing, bin all tissues immediately.</li>
    <li>Long hair must be tied back in the studio and all jewellery must be removed.</li>
    <li>Avoid touching your face, especially mouth, nose and eyes during class.</li>
    <li>Only essential items can be taken into the studio.</li>
    <li>Please do not touch anything other than items in your aerial station.</li>
    <li>Avoid personal contact at anytime in the studio, 2m social distancing must be adhered to.</li>
</ul>

<h3>Track and trace policy</h3>
<ul>
    <li>Please contact us as soon as possible at {{ studio_email|obfuscate_mailto }} if you develop symptoms
        within 14 days of being at the studio, or if you have been in direct contact with someone who has
        tested positive for corona virus.</li>
    <li>In the event of exposure risk Freedom of Flight Aerial will follow all procedures given by the
        government's track and trace team.</li>
    <li>We will be keeping a register of those who have attended class in accordance with the government
        guidelines.</li>
    <li>Please make sure you keep your details up-to-date on the system so that we can contact you.</li>
    <li>Do not attend the studio if you have symptoms or advised to isolate, any classes missed due to this will
        be credited towards your next course.</li>
    <li>If the government enforce closure for lockdown the course will be paused and re-start as soon as
        permission is given.</li>
</ul>

{% endblock %}