{% extends "base.html" %}

{% load accounttags bookingtags static email_obfuscator %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block content %}

<div id="confirm-dialog"></div>

    {% include 'common/includes/view_as_user.html' %}

    <h2 class="mt-1">{{ title }}
    {% if not course %}
        {% for track_obj in tracks %}
            {% if track_obj != track %}
                <span class="expired expired-track">| <a class="expired" href="{% url 'booking:events' track_obj.slug %}">{{ track_obj.name }}</a></span>
            {% endif %}
        {% endfor %}
    {% endif %}

    </h2>

    <div class="row">


    {% if course %}
        <div class="col-12">
        {% if request.user.is_authenticated %}
            {% if not course.full and course.has_started and not already_booked and not course.allow_partial_booking %}
                <h3 class="text-danger">
                    NOTE: This course has started.</h3>
                {% if course.allow_drop_in %}
                    <p>You can book individual classes as drop in</p>
                {% else  %}
                    <p><strong>If you would like to book for the remaining classes in the course,
                        please contact {{ studio_email|obfuscate_mailto }}.</strong>
                    </p>
                {% endif %}
            {% else %}
                {% if course.has_started %}
                    <h3> NOTE: This course has started.</h3>
                {% endif %}
                {% if view_as_user|has_disclaimer %}
                <div
                    id="book_course_{{ course.id }}"
                    data-user_id="{{ view_as_user.id }}"
                    data-ref="course"
                    data-page="{{ request.GET.page }}"
                    data-course_id="{{ course.id }}"
                    data-has_started={{ course.has_started|yesno:"1,0" }}
                    data-allow_partial_booking={{ course.allow_partial_booking|yesno:"1,0" }}
                    data-part_booking_with_full_block={% if available_course_block.block_config.size > course.events_left.count %}1{% else %}0{% endif %}
                    data-has_available_block={{ user|has_available_course_block:course|yesno:"1,0" }}
                    data-already_booked={{ already_booked|yesno:"1,0" }}
                    class="ajax_course_events_btn">
                    {% include "booking/includes/course_events_button.txt" %}
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    {% endif %}
    <div class="col-12">
        {% if courses_available %}
            <span class="float-left"><a class="btn btn-outline-primary btn-sm" href="{% url 'booking:courses' track.slug %}">View courses</a></span>
        {% endif %}

        {% if course %}
                <span class="float-left mr-1"><a class="btn btn-outline-primary btn-sm" href="{% url 'booking:courses' course.event_type.track.slug %}">View courses</a></span>
                <span class="float-left"><a class="btn btn-outline-primary btn-sm" href="{% url 'booking:events' course.event_type.track.slug %}">View {{ course.event_type.track.pluralized_event_type_label }}</a></span>
        {% endif %}
        {% if request.user.is_authenticated %}<span class="float-right"><a class="btn btn-outline-primary btn-sm" href="{% url 'booking:bookings' %}">My Bookings</a></span>{% endif %}

    </div>
        {% if not course %}
        <form class="mt-2" method="get">
            {{ name_filter_form }}
        </form>
        {% endif %}
    </div>


<div class="row">
    <div class="col-12">
    {% if course.description %}
        <div class="row event-card event-card-header list-group-item-info">
            <div class="col-12 p-2">Details</div>
        </div>
        <div class="row event-card event-card-item p-2">{{ course.description|linebreaks }}</div>
    {% endif %}

    {% if events_by_date %}
        {% for date, events in events_by_date.items %}
            <div class="row event-card event-card-header list-group-item-secondary">
                <div class="col-12 p-1">{{ date|date:"D d M Y" }}</div>
            </div>
            {% for event in events %}
                <div class="row event-card event-card-item {% if event.is_past or event.cancelled %}list-group-item-secondary{% endif %}">
                {% with user_booking_info|lookup_dict:event.id as user_info %}
                    {% if user_info.open %}
                        {% if event.show_video_link %}
                            <div class="col-12 pt-1 pr-1"><a id="video_link_id_{{ event.id }}" class="btn btn-info btn-xs float-right" href="{{ event.video_link }}">Join online class</a></div>
                        {% elif event.event_type.is_online %}
                            <div class="col-12 pt-1 pr-1">
                            <span class="float-right" data-toggle="tooltip" title="Video link active 20 mins before class starts">
                                <span id="video_link_id_disabled_{{ event.id }}" class="btn btn-secondary btn-xs disabled float-right">Join online class</span>
                            </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="col-1 col-sm-1 pt-2 pb-2 pl-1">
                        <small>{{ event.start|date:"H:i"  }}-{{ event.end|date:"H:i" }}</small>

                    </div>
                    <div class="col-6 col-sm-7 pt-2 pb-2">
                            <!-- Event name and info (availability, user blocks) on smaller screens -->
                            <span id="booked_tick_{{ event.id }}" {% if not user_info.open %}class="hidden"{% endif %}>
                            <i class="text-success fas fa-check-circle"></i>
                            </span>
                        <a href="{% url 'booking:event' event.slug %}"><span class="ninety-pct">{{ event.name }}</span></a>
                            <span class="d-inline-block d-sm-none" id="event_info_xs_{{event.id}}">
                            {% include 'booking/includes/event_info_xs.html' %}
                            </span>
                            <!-- availability, user blocks etc on larger screens plus course info on all -->
                            {% include 'booking/includes/events_info.html' %}
                    </div>
                    <div class="col-5 col-sm-4 pt-2 pb-2 pr-1 pl-1 float-right">
                            <!-- booking buttons and info text -->
                            {% if request.user.is_authenticated %}
                            {% if view_as_user|has_disclaimer %}
                                {% if event.cancelled %}
                                    <span class="float-right">{{ event.event_type.label|upper }} CANCELLED</span>
                                {% elif event.is_past %}
                                    {% if course %}
                                    <span class="float-right"><a class="btn btn-xs btn-secondary" disabled href="#">{{ event.event_type.label|title }} is past</a></span>
                                    {% else %}
                                    <span class="float-right"><a class="btn btn-xs btn-secondary" disabled href="#">{{ event.event_type.label|title }} has started</a></span>
                                    {% endif %}
                                {% elif not course %}
                                    {% if event.full and not user_info.can_book_or_cancel %}
                                        <span class="float-right">
                                        <span
                                            id="waiting_list_button_{{ event.id }}"
                                            data-event_id="{{ event.id }}"
                                            data-user_id="{{ view_as_user.id }}"
                                            class="ajax_events_waiting_list_btn">
                                        {% include "booking/includes/waiting_list_button.html" %}
                                        </span>
                                        </span>
                                {% elif event.course.has_started and not event.course.allow_partial_booking and not event.course.allow_drop_in and not user_info.has_booked %}
                                    <span class="float-right">
                                        <span class="helptext">Course has started<span/><br/>
                                            <a class="btn btn-xs btn-outline-dark float-right" href="{% url 'booking:course_events' event.course.slug %}">More booking info</a>
                                        </span>
                                    </span>
                                    {% elif user_info.can_book_or_cancel %}
                                        <span class="float-right">
                                        {% if event.course %}
                                         <a class="helptext float-right" href="{% url "booking:course_events" event.course.slug %}">Course details</a><br/>
                                        {% endif %}
                                        <span
                                            id="book_{{ event.id }}"
                                            data-event_id="{{ event.id }}"
                                            data-event_str="{{ event.name }} ({{ event.start|date:'D d b H:i'|title }})"
                                            data-user_id="{{ view_as_user.id }}"
                                            data-ref="events"
                                            data-page="{{ request.GET.page }}"
                                            data-show_warning={{ user_info.show_warning|yesno:"1,0" }}
                                            data-cancellation_allowed={{ event.event_type.allow_booking_cancellation|yesno:"1,0" }}
                                            class="ajax_events_btn">
                                            {% include "booking/includes/events_button.txt" %}
                                            </span>
                                        </span>
                                    {% elif user_info.booking_restricted_pre_event_start %}
                                        <span class="float-right"><a class="btn btn-xs btn-secondary" disabled href="#"><span class="helptext">Unavailable {{ event.event_type.booking_restriction }} mins before start</span></a></span>
                                    {% endif %}
                                {% elif course and course.allow_drop_in %}
                                    {% if event.full and not user_info.can_book_or_cancel %}
                                        <span class="float-right">
                                        <span
                                            id="waiting_list_button_{{ event.id }}"
                                            data-event_id="{{ event.id }}"
                                            data-user_id="{{ view_as_user.id }}"
                                            class="ajax_events_waiting_list_btn">
                                        {% include "booking/includes/waiting_list_button.html" %}
                                        </span>
                                        </span>
                                    {% elif user_info.can_book_or_cancel %}
                                        <span class="float-right">
                                        <span
                                            id="book_{{ event.id }}"
                                            data-event_id="{{ event.id }}"
                                            data-event_str="{{ event.name }} ({{ event.start|date:'D d b H:i'|title }})"
                                            data-user_id="{{ view_as_user.id }}"
                                            data-ref="{% if course %}course_events{% else %}events{% endif %}"
                                            data-page="{{ request.GET.page }}"
                                            data-show_warning={{ user_info.show_warning|yesno:"1,0" }}
                                            data-cancellation_allowed={{ event.event_type.allow_booking_cancellation|yesno:"1,0" }}
                                            class="ajax_events_btn">
                                            {% include "booking/includes/events_button.txt" %}
                                            </span>
                                        </span>
                                    {% elif user_info.booking_restricted_pre_event_start %}
                                        <span class="float-right"><a class="btn btn-xs btn-secondary" disabled href="#"><span class="helptext">Unavailable {{ event.event_type.booking_restriction }} mins before start</span></a></span>
                                {% endif %}
                                {% else %}
                                    <span class="float-right">
                                    {% if user_info.has_booked and not event.is_past %}
                                        <!-- Only show the events_button for course events already booked/cancelled so user can cancel/rebook individual classes -->
                                        <span
                                            id="book_{{ event.id }}"
                                            data-event_id="{{ event.id }}"
                                            data-event_str="{{ event }}"
                                            data-user_id="{{ view_as_user.id }}"
                                            data-ref="course"
                                            data-show_warning={{ user_info.show_warning|yesno:"1,0" }}
                                            data-cancellation_allowed={{ event.event_type.allow_booking_cancellation|yesno:"1,0" }}
                                            class="ajax_events_btn">
                                            {% include "booking/includes/events_button.txt" %}
                                        </span>
                                    {% endif %}
                                    </span>
                                {% endif %}
                            {% elif view_as_user|has_expired_disclaimer %}
                                <span class="helptext float-right"><a href="{% url 'accounts:disclaimer_form' view_as_user.id %}">Update expired disclaimer</a> to book</span>
                            {% else %}
                                <span class="helptext float-right"><a href="{% url 'accounts:disclaimer_form' view_as_user.id %}">Complete a disclaimer</a> to book</span>
                            {% endif %}
                        {% else %}
                            <span class="helptext float-right"><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in</a> or <a href="{% url 'account_signup' %}">register</a> to book</span>
                        {% endif %}
                    </div>


                {%  endwith %}
                </div>
            {% endfor %}
        {% endfor %}

        {% if page_events.has_other_pages %}
        <!--NAVIGATION-->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if page_events.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_events.previous_page_number }}&event_name={{ request.GET.event_name }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% else %}
              <a class="page-link" disabled=disabled href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            {% endif %}
          <li class="page-item"><a class="page-link" href="#">Page {{ page_events.number }} of {{ page_events.paginator.num_pages }}</a></li>

          <li class="page-item">
            {% if page_events.has_next %}
              <a class="page-link" href="?page={{ page_events.next_page_number }}&event_name={{ request.GET.event_name }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            {% else %}
              <a class="page-link" disabled=disabled href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            {% endif %}
          </li>

          </ul>
        </nav>
    {% endif %}
    {% else %}
        <p>No events scheduled.</p>
    {% endif %}
    </div>
</div>

{% endblock content %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax-v4.js' %}"></script>
{% endblock %}