{% extends "base.html" %}

{% load accounttags bookingtags static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'booking/css/vanilla-notify.css' %}">
<script type='text/javascript' src="{% static 'booking/js/vanilla-notify.min.js' %}"></script>

<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock %}

{% block content %}

<div id="confirm-dialog"></div></div>

<div class="container pb-2">

        <form class="form-inline pt-3" method="post">
            {% csrf_token %}
            {{ available_users_form }}
        </form>

    <h1 class="mt-3">{{ title }}</h1>

    <div class="row">
        <div class="col-12">
        {% if events_by_date %}
            {% if course %}
                {% if request.user.is_authenticated %}
                    {% if course.has_started and not already_booked %}
                        <h3 class="text-danger">NOTE: This course has started</h3>
                    {% endif %}
                    {% if view_as_user|has_disclaimer %}
                    <div
                        id="book_course_{{ course.id }}"
                        data-user_id="{{ view_as_user.id }}"
                        data-ref="course"
                        data-course_id="{{ course.id }}"
                        data-has_started={{ course.has_started|yesno:"1,0" }}
                        data-has_available_block={{ view_as_user|has_available_course_block:course|yesno:"1,0" }}
                        data-already_booked={{ already_booked|yesno:"1,0" }}
                        class="ajax_course_events_btn">
                        {% include "booking/includes/course_events_button.txt" %}
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

        {% for date, events in events_by_date.items %}
            <div class="list-group mb-2">
                <div class="list-group-item list-group-item-dark pt-1 pb-1">{{ date|date:"D d M Y" }}</div>
                {% for event in events %}
                    <div class="list-group-item pt-1 pb-1">
                        <span id="booked_tick_{{ event.id }}" {% if event.id not in booked_event_ids %}class="hidden"{% endif %}>
                        <i class="fas fa-check-circle"></i>
                        </span>
                        <a href="{% url 'booking:event' event.slug %}">
                                {{ event.start|date:"H:i"  }} {{ event.name }}
                        </a>
                        {% if request.user.is_authenticated %}
                            {% if view_as_user|has_disclaimer %}
                                {% if event.is_past %}
                                    <span class="float-right"><a class="btn btn-xs btn-secondary" disabled href="#">Event is past</a></span>
                                {% elif not course %}
                                    <span class="float-right">
                                        {% if view_as_user|can_book_or_cancel:event %}
                                            <span
                                                id="book_{{ event.id }}"
                                                data-event_id="{{ event.id }}"
                                                data-user_id="{{ view_as_user.id }}"
                                                data-ref="events"
                                                data-can_cancel={{ event.can_cancel|yesno:"1,0" }}
                                                data-cancellation_allowed={{ event.event_type.allow_booking_cancellation|yesno:"1,0" }}
                                                data-show_payment_options={% if event.id in booked_event_ids or view_as_user|has_available_block:event %}"0"{% else %}"1"{% endif %}
                                                data-is_course={{ event.course|yesno:"1,0" }}
                                                class="ajax_events_btn">
                                                {% include "booking/includes/events_button.txt" %}
                                                </span>
                                            </span>
                                        {% elif event.full %}
                                            <span
                                                id="waiting_list_button_{{ event.id }}"
                                                data-event_id="{{ event.id }}"
                                                data-user_id="{{ view_as_user.id }}"
                                                class="ajax_events_waiting_list_btn">
                                            {% include "booking/includes/waiting_list_button.html" %}
                                            </span>
                                        {% endif %}
                                    </span>
                                {% else %}
                                    <span class="float-right">
                                    {% if view_as_user|has_open_or_cancelled_booking:event %}
                                        <!-- Only show the events_button for course events already booked/cancelled so user can cancel/rebook individual classes -->
                                        <span
                                            id="book_{{ event.id }}"
                                            data-event_id="{{ event.id }}"
                                            data-user_id="{{ view_as_user.id }}"
                                            data-ref="course"
                                            data-on_course={% if event.course %}"1"{% else %}"0"{% endif %}
                                            class="ajax_events_btn">
                                            {% include "booking/includes/events_button.txt" %}
                                        </span>
                                    {% endif %}
                                    </span>
                                {% endif %}
                            {% else %}
                                <span class="helptext float-right"><a href="{% url 'accounts:disclaimer_form' view_as_user.id %}">Complete a disclaimer</a> to book</span>
                            {% endif %}
                        {% else %}
                            <span class="helptext float-right"><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in</a> to book</span>
                        {% endif %}
                        <div>
                            <span class="helptext">{{event.event_type.name}}</span>
                            <span class="helptext"> | Availability:
                                <span id="availability_{{ event.id }}">{% include 'booking/includes/event_availability_badge.html' %}</span>
                            </span>
                            {% if event.course and not course %}
                                | <a href="{% url 'booking:course_events' event.course.slug %}"><span class="badge badge-info">Course: {{ event.course.name }}</span></a>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <span id="block_info_{{event.id}}">
                                    {% include 'booking/includes/block_info.html' %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% if page_events.has_other_pages %}
        <!--NAVIGATION-->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if page_events.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_events.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% else %}
              <a class="page-link" disabled=disabled href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            {% endif %}
          <li class="page-item"><a class="page-link" href="#">Page {{ page_events.number }} of {{ page_events.paginator.num_pages }}</a></li>

          <li class="page-item">
            {% if page_events.has_next %}
              <a class="page-link" href="?page={{ page_events.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            {% else %}
              <a class="page-link" disabled=disabled href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            {% endif %}
          </li>

          </ul>
        </nav>
    {% endif %}
    {% else %}
        <p>No events scheduled.</p>
    {% endif %}

</div>
{% endblock content %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'js/underscore.1.10.2-min.js' %}"></script>
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax-v1.js' %}"></script>
{% endblock %}