{% extends "base.html" %}

{% load bookingtags static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'booking/css/vanilla-notify.css' %}">
<script type='text/javascript' src="{% static 'booking/js/vanilla-notify.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container row">
    <div class="col-12">
    <h1 class="mt-5">{{ track }}</h1>
    {% if events_by_date %}
        {% for date, events in events_by_date.items %}
            <div class="list-group mb-2">
                <div class="list-group-item list-group-item-dark pt-1 pb-1">{{ date|date:"D d M Y" }}</div>
                {% for event in events %}
                    <div class="list-group-item pt-1 pb-1">
                        {% if event.id in booked_event_ids %}<i class="fas fa-check-circle"></i>{% endif %}
                        <a href="{% url 'booking:event' event.slug %}">
                                {{ event.start|date:"H:i"  }} {{ event.name }}
                        </a>
                        <span class="float-right">
                            {% if request.user.is_authenticated %}
                                {% if event.bookable or event.id in booked_events %}
                                    <span
                                        id="book_{{ event.id }}"
                                        data-event_id="{{ event.id }}"
                                        data-ref="events"
                                        class="ajax_events_btn">
                                    {% include "booking/includes/events_button.txt" %}
                                    </span>
                                {% elif event.full %}
                                    <a class="btn btn-xs btn-warning" href="#">Join Waiting List</a>
                                {% elif not user|has_available_block:event %}
                                    <a class="btn btn-xs btn-info" href="#">Payment Options</a>
                                {% endif %}
                            {% else %}
                                <span class="helptext"><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in</a> to book</span>
                            {% endif %}
                        </span>
                        <p>Availability: {% if event.full %}
                            <span class="badge badge-pill badge-dark">Full</span>
                            {% else %}
                            <span class="badge badge-pill badge-warning">{{ event.spaces_left }}</span>
                            {% endif %}
                        {% if event.course %}
                            | <span class="badge badge-warning">Course: {{ event.course.name }}</span>
                        {% endif %}
                        {% if event.id not in booked_event_ids and user|has_available_block:event %}
                            | <span class="helptext">Block available for use</span>
                         {% endif %}
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <!--NAVIGATION-->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if page_events.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_events.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% else %}
              <a class="page-link" disabled=disabled href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            {% endif %}
          <li class="page-item"><a class="page-link" href="#">Page {{ page_events.number }} of {{ page_events.paginator.num_pages }}</a></li>

          <li class="page-item">
            {% if page_events.has_next %}
              <a class="page-link" href="?page={{ page_events.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            {% else %}
              <a class="page-link" disabled=disabled href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            {% endif %}
          </li>

          </ul>
        </nav>

    {% else %}
        <p>No events scheduled.</p>
    {% endif %}

</div>
{% endblock content %}


{% block extra_js %}
<script>
    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('#message-row').fadeOut('slow');
        }, 10000); // <-- time in milliseconds, 1000 =  1 sec
    });
</script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax-v1.js' %}"></script>

{% endblock %}