{% extends "base.html" %}

{% load accounttags bookingtags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block content %}
    <h2 class="mt-1">Payment Options: Credit Blocks, Subscriptions and Memberships</h2>
          <div class="mb-2">
        {%  if request.user.is_authenticated %}
              <a class="btn btn-outline-primary btn-xs" href="{% url 'booking:shopping_basket' %}"><span>View cart <i class="fas fa-shopping-cart"></i></span></a>
            {% if related_item %}
                <a class="btn btn-primary btn-xs" href="{% url 'booking:events' related_item.event_type.track.slug %}">View schedule</a>
            {% else %}
                <a class="btn btn-primary btn-xs" href="{% url 'booking:schedule' %}">View schedule</a>
            {% endif %}
        {% endif %}

          </div>

    {% if related_item %}
        <div class="message alert alert-primary">Showing valid options for
            <strong>
                {% if related_item.events.exists %}
                <a href="{% url 'booking:course_events' related_item.slug %}">
                {% else %}
                <a href="{% url 'booking:event' related_item.slug %}">
                {% endif %}
                {{ related_item }}</a></strong> ONLY; see all payment plan options <a href="{% url 'booking:purchase_options' %}">here</a></div>
    {% else %}
        <p><i class="text-primary fas fa-question-circle fa-lg"></i>
            Not sure which payment plan you require? Go to the <a href="{% url 'booking:schedule' %}">schedule</a>, find the class you want to book, and select "Payment Options" to display only valid options for that class
        </p>
    {% endif %}

    <h2>Credit Blocks</h2>

        {% if available_blocks %}
            <p class="text-danger">
                NOTE: purchasing a block gives you credit to use; it does not book you into any class/course.<br/>
                If you want to book directly, go to the schedule or course details and select "Add to cart"
            </p>

            <table class="table table-sm">
              <thead>
                <th style="width: 80%"></th>
                <th style="width: 10%"></th>
                <th style="width: 10%"></th>
              </thead>
              <tbody>
                {% for title, blocklist in available_blocks.items %}
                    <tr class="table-secondary">
                        <td class="pl-2">{{ title }}</td>
                        {%  if request.user.is_authenticated %}<td class="text-center">User</td>{% else %}<td></td>{% endif %}
                        <td></td>
                    </tr>
                    {% if not blocklist.0.course and not related_item %}
                    <tr>
                        <td class="helptext text-danger" colspan="3">
                            Most courses do NOT allow drop-in booking using a drop-in credit block. If you want to book
                            a course class, please check the course details before purchasing.
                        </td>
                    </tr>
                    {% endif %}
                    {% for available_block_config in blocklist %}
                    <tr class="table-border-bold">
                        <td class="pl-2 pb-0">
                            <p>
                                <strong>{{ available_block_config }} </strong>
                                {% if available_block_config.description %}
                                <span class="d-md-none">
                                    <span data-toggle="tooltip" data-html="true" title="<span class='helptext'>{{ available_block_config.description|linebreaksbr }}</span>">
                                      <i class="fas fa-info-circle"></i>
                                    </span>
                                </span>
                                {% endif %}
                            </p>

                        {% if available_block_config.description %}
                            <p class="d-none d-md-block">{{ available_block_config.description|linebreaksbr}}</p>
                        {% endif %}

                        <p class="mb-1">

                                £{{ available_block_config.cost }} |
                                {% if available_block_config.duration %} Expires after {{ available_block_config.duration }} week{{ available_block_config.duration|pluralize }}{% else %}Never expires {% endif %} |
                                Valid for {% if available_block_config.course %}1 course{% else %}{{ available_block_config.size }} use{{ available_block_config.size|pluralize }}{% endif %}<br/>

                            {%  if request.user.is_authenticated %}{% active_block_info user_active_blocks available_block_config %}{% endif %}

                            {% if available_block_config.age_restrictions %}
                                <p class="helptext mb-0">
                                    <strong>NOTE: {{ available_block_config.age_restrictions }}</strong>
                                </p>
                            {% endif %}

                        </p>
                        </td>
                    {%  if request.user.is_authenticated %}
                        {% if available_users %}
                            {% if not available_users|at_least_one_user_can_purchase:available_block_config %}
                                <td colspan="2">
                                    <span class="helptext float-right">
                                        Unavailable for users on your account due to age restrictions.
                                    </span>
                                </td>
                            {% else %}
                                <td>
                                    {% for available_user in available_users %}
                                        {% if available_user|can_purchase_block:available_block_config %}
                                            <div class="purchase_option_badge_container">
                                                <span class="badge badge-pill badge-light pt-1 mt-1 mb-1"><span class="align-middle helptext">{{ available_user|full_name|truncatechars:15 }}</span></span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="table-purchase-td">

                                    {% for available_user in available_users %}
                                        {% if available_user|can_purchase_block:available_block_config %}
                                            <span
                                                id="block_config_{{ available_block_config.id }}_{{ available_user.id }}"
                                                data-user_id="{{ available_user.id }}"
                                                data-block_config_id="{{ available_block_config.id }}"
                                                data-block_config_type="{% if available_block_config.course %}course{% else %}dropin{% endif %}"
                                                class="float-right ajax_blocks_btn">
                                                {% include "booking/includes/blocks_button.txt" %}
                                            </span><br/>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endif %}
                        {% else %}
                            {% if request.user.is_manager %}
                                <td colspan="2">
                                <span class="helptext float-right">
                                    Register as a student or add a managed account to purchase
                                    <a href="{% url 'accounts:profile' %}">Update account</a></span>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <td colspan="2">
                            <span class="helptext float-right"><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in</a> or <a href="{% url 'account_signup' %}">register</a> to purchase</span>
                        </td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
              </tbody>
         </table>
        {% else %}
            <p>No blocks are available for purchase</p>
        {% endif %}

        {% if subscription_configs %}
        <h2>Subscriptions/Memberships</h2>
            <table class="table table-sm">
              <thead>
                <th style="width: 80%"></th>
                <th style="width: 10%"></th>
                <th style="width: 10%"></th>
              </thead>
              <tbody>
                <tr class="table-secondary">
                    <td>Subscriptions</td>
                    {% if request.user.is_authenticated %}
                        <td class="text-center">User & Options</td>
                        <td></td>
                    {% else %}
                        <td colspan="2"></td>
                    {% endif %}
                </tr>
                    {% for subscription_config in subscription_configs %}
                    <tr>
                        <td class="pl-2 pb-2">
                            <p>
                                <strong>{{ subscription_config.config.name|title }} </strong>
                                <span class="d-md-none">
                                    {% if subscription_config.config.description %}
                                        <span data-toggle="tooltip" data-html="true" title="<span class='helptext'>{{ subscription_config.config.description|linebreaksbr }}</span>">
                                          <i class="fas fa-info-circle"></i>
                                        </span>
                                    {% endif %}
                                </span>
                            </p>

                            <p class="d-none d-md-block">
                                {% if subscription_config.config.description %}{{ subscription_config.config.description|linebreaksbr }}{% endif %}
                            </p>

                            {%  if subscription_config.config.bookable_event_types %}
                                Valid for:
                                {% format_bookable_event_types subscription_config.config %}
                            {% endif %}
                            <p class="mb-1">
                                {% if subscription_config.current_period_cost != subscription_config.config.cost %}
                                    £{{ subscription_config.config.cost }} (£{{ subscription_config.current_period_cost }})<br/>
                                    <small><em>Remainder of current period can be purchased at a reduced cost</em></small><br/>
                                {% else %}
                                    £{{ subscription_config.config.cost }}<br/>
                                {% endif %}
                                    Expires after {{ subscription_config.config.duration }} {{ subscription_config.config.duration_units|slice:":-1" }}{{ subscription_config.config.duration|pluralize }}<br/>
                                    {{ subscription_config|format_subscription_config_start_options|safe }}
                                <br/>
                                {% active_subscription_info user_active_subscriptions subscription_config.config %}
                            </p>
                        {% if subscription_config.config.age_restrictions %}
                            <p class="helptext mb-0"><strong>
                                NOTE: {{ subscription_config.config.age_restrictions }}
                                </strong>
                            </p>
                        {% endif %}
                        {% if subscription_config.config.bookable_event_types %}
                            <p class="helptext">Please note that subscriptions are not valid for classes that are part of a course.<p/>
                        {% endif %}
                        </td>
                        {% if request.user.is_authenticated %}
                            {% if available_users %}
                                {% if not available_users|at_least_one_user_can_purchase:subscription_config.config %}
                                    <td colspan="2">
                                        <span class="helptext float-right">
                                            Unavailable for users on your account due to age restrictions.
                                        </span>
                                    </td>
                                {% else %}
                                    <td>
                                        {% for available_user in available_users %}
                                            {% if available_user|can_purchase_subscription:subscription_config.config %}
                                                {% if not subscription_config.start_options_for_users|lookup_dict:available_user.id %}
                                                    <div class="purchase_option_badge_container">
                                                        <span class="badge badge-pill badge-light pt-1 mt-1 mb-1"><span class="helptext align-middle">{{ available_user|full_name|truncatechars:15 }}{% if subscription_start_option %} - {{ subscription_start_option|date:"d-M-y" }}{% endif %}</span></span>
                                                    </div>
                                                {% endif %}
                                                {% for subscription_start_option in subscription_config.start_options_for_users|lookup_dict:available_user.id %}
                                                    <div class="purchase_option_badge_container">
                                                        <span class="badge badge-pill badge-light pt-1 mt-1 mb-1"><span class="helptext align-middle">{{ available_user|full_name|truncatechars:15 }}{% if subscription_start_option %} - {{ subscription_start_option|date:"d-M-y" }}{% endif %}</span></span>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="table-purchase-td">
                                    {% for available_user in available_users %}
                                        {% if available_user|can_purchase_subscription:subscription_config.config %}
                                            {% if not subscription_config.start_options_for_users|lookup_dict:available_user.id %}
                                                <span class="helptext">
                                                    <div href="#" class="btn btn-cart-xs btn-table-xs btn-outline-light mt-1 mb-1 p-1 text-dark">
                                                        No options available
                                                    </div>
                                                </span>
                                            {% endif %}
                                            {% for subscription_start_option in subscription_config.start_options_for_users|lookup_dict:available_user.id %}
                                                <span
                                                    id="subscription_config_{{ subscription_config.config.id }}_{{ available_user.id }}_{{ subscription_start_option|date:'d' }}"
                                                    data-user_id="{{ available_user.id }}"
                                                    data-subscription_config_id="{{ subscription_config.config.id }}"
                                                    data-subscription_start_date="{{ subscription_start_option|date:"d-M-y" }}"
                                                    data-subscription_start_day="{{ subscription_start_option|date:"d" }}"
                                                    class="float-right ajax_subscriptions_btn">
                                                    {% include "booking/includes/subscriptions_button.txt" %}
                                                </span><br/>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                {% endif %}
                            {% else %}
                                 {% if request.user.is_manager %}
                                    <td colspan="2">
                                    <span class="helptext float-right">
                                        Register as a student or add a managed account to purchase
                                        <a href="{% url 'accounts:profile' %}">Update account</a></span>
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <td colspan="2">
                            <span class="helptext float-right"><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in</a> or <a href="{% url 'account_signup' %}">register</a> to purchase</span>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
              </tbody>
         </table>
        {% endif %}
{% endblock content %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'booking/js/events_blocks_ajax-v2.js' %}"></script>
<script type='text/javascript' src="{% static 'booking/js/events_subscriptions_ajax-v1.js' %}"></script>
{% endblock %}