{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'booking/vanilla-notify.css' %}">
<script type='text/javascript' src="{% static 'booking/vanilla-notify.min.js' %}"></script>
{% endblock %}

{% block content %}


<div class="container container-basket row">
        <h1>Shopping Basket</h1>
    
    {% if unpaid_blocks %}

        <div class="col-12 basket-section">
            <div class="row">
                <div class="col-7 basket-heading"><h4>Block</h4></div>
                <div class="col-5 basket-heading"><h4>Cost</h4></div>
            </div>

            {% for block in unpaid_blocks %}
            <div id="blockrow-{{ block.id}}">
                <div class="row basket-row">
                    <div class="col-7">
                        {{ block.block_config }}
                    </div>
                    <div class="col-2">
                        {% if block.id in voucher_applied_blocks %}
                            <s>£{{ block.block_config.cost }}</s>
                            <!--block.block_config.cost|voucher_applied_cost:block_voucher.discount-->
                            £ placeholder - voucher applied cost
                        {% else %}
                            £{{ block.block_config.cost }}
                        {% endif %}
                    </div>
                    <div class="col-3 text-left">
                        <button
                            class="btn btn-danger btn-xs"
                            data-block_id="{{ block_config.id }}"
                            data-block_code="{{ block_code }}"
                        >X</button>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="row basket-row">
                <div class="col-6 col-sm-4 col-md-3">
                    <span id="checkout-blocks-total-and-paypalform">
                        TOTAL PLACEHOLDER
                    <!--booking/includes/shopping_basket_blocks_total.html-->
                    </span>
                </div>
                <!--<div class="col-6 col-sm-8 col-md-9">-->
                    <!--{% if not valid_block_voucher %}-->
                        <!--<form name="block_voucher_form" class="form-inline" method="get" action="">-->
                        <!--<label for="block_code_id">{{ block_voucher_form.block_code.label }}</label> {{ block_voucher_form.block_code }}-->
                        <!--{% if booking_code %}-->
                            <!--<input type="hidden" name="booking_code" value="{{ booking_code }}"/>-->
                       <!--{% endif %}-->
                        <!--<input class="btn btn-success table-btn" type="submit" value="Apply"/>-->
                        <!--{% if block_voucher_error %}-->
                            <!--<p class="errorlist">{{ block_voucher_error }}</p>-->
                        <!--{% endif %}-->
                    <!--</form>-->
                    <!--{% else %}-->
                        <!--<form class="form-inline" method="get" action="">-->
                            <!--<label><strong>Voucher applied: {{ block_voucher.code }} ({{ block_voucher.discount }}% discount)</strong></label>-->
                            <!--{% if booking_code %}-->
                                <!--<input type="hidden" name="booking_code" value="{{ booking_code }}"/>-->
                            <!--{% endif %}-->
                            <!--<input class="btn btn-success table-btn" type="submit" name="remove_block_voucher" value="Remove" /><br/>-->
                            <!--<small>You have already used this voucher for {{ times_booking_voucher_used }} block{% if times_block_voucher_used != 1 %}s{% endif %} (max {{block_voucher.max_per_user }})</small>-->
                            <!--{% for msg in block_voucher_msg %}<br/><span class="errorlist">{{ msg }}</span>{% endfor %}-->
                        <!--</form>-->
                    <!--{% endif %}-->
                <!--</div>-->
            </div>
        </div>


{% else %}
    Your basket is empty
{% endif %}

</div>

{% endblock content %}


{% block extra_js %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/shopping_basket_ajax.js' %}"></script>
{% endblock %}