{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'booking/css/vanilla-notify.css' %}">
<script type='text/javascript' src="{% static 'booking/js/vanilla-notify.min.js' %}"></script>
<script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
{% endblock %}

{% block content %}


<div class="container container-basket">
    <div class="row">
        <h1>Shopping Basket</h1>
    
        {% if unpaid_block_info %}

            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Block</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>
                {% for block_info in unpaid_block_info %}
                <tr>
                    <td>{{ block_info.block.block_config }}</td>
                    <td>
                        <p>Cost: {% if block_info.voucher_applied.discounted_cost is not None %}
                                <span class="superceded-cost">£{{ block_info.original_cost }}</span> £{{ block_info.voucher_applied.discounted_cost }}
                            {% else %}
                                £{{ block_info.original_cost }}
                            {% endif %}
                        {% if block_info.voucher_applied.discounted_cost is not None %}
                        <br><span class="text-secondary"><small><em>Voucher code applied: {{ block_info.voucher_applied.code }}</em></small></span>
                        {% endif %}
                        </p>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
              <tr>
                  <td colspan="2">
                      <strong>TOTAL: £ {{ total_cost }}</strong>
                      <span
                          class="ajax-checkout-btn"
                          id="checkout-btn"
                          data-user_id="{{ user.id }}"
                          data-total="{{ total_cost }}"
                          data-block_ids="{{ unpaid_block_ids }}"
                      >
                          {% include "booking/includes/payment_button.txt" %}
                      </span>
                          <a class="btn btn-xs btn-outline-primary" href="{% url 'booking:block_purchase' %}">Add more items</a>
                      <hr>
                          <form name="block_voucher_form" class="form-inline" method="post" action="">
                            {% csrf_token %}
                            <input name="code" type="text" required="required"/>
                            <input class="btn btn-sm btn-outline-info ml-2" type="submit" name="add_voucher_code" value="Apply voucher code"/>
                        </form>
                        <span class="errorlist">{{ voucher_add_error }}</span>
                      {% if applied_voucher_codes_and_discount %}
                      <hr>
                      <div>Codes applied:</div>
                          {% for applied_voucher_code, applied_voucher_discount in applied_voucher_codes_and_discount %}
                                <form class="form-inline mb-1" method="post" action="">
                                    {% csrf_token %}
                                    <input name="code" type="hidden" value="{{ applied_voucher_code }}"/>
                                    <span class="mr-2 mb-0 p-1 alert alert-info"><strong>{{ applied_voucher_code }}</strong> ({{ applied_voucher_discount }}%)</span>
                                    <button type="submit" name="remove_voucher_code" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            {% endfor %}
                      </ul>
                      {% endif %}

                  </td>
              </tr>
              </tfoot>
            </table>
    </div>

{% else %}
    <div class="col-12">
    Your basket is empty
    </div>
{% endif %}
</div>

{% endblock content %}


{% block extra_js %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/shopping_basket_ajax.js' %}"></script>
{% endblock %}