{% extends "base.html" %}
{% load static %}
{% load accounttags bookingtags %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <h3 class="mt-1">Shopping Basket</h3>
    
        {% if unpaid_items %}

            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Item</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>
                {% if unpaid_block_info %}
                    <tr>
                        <td colspan="2" class="table-secondary"><strong>Bookings and Credit Blocks</strong><br/>
                        <span class="text-danger">
                            NOTE: class/course bookings will be removed from your cart after {{ cart_timeout_mins }} minutes
                        </span>
                        </td>
                    </tr>
                {% endif %}

                {% for block_info in unpaid_block_info %}
                    <tr id="cart-row-block-{{ block_info.block.id }}" class="cart-row-block">
                        <td class="p-1">
                            {% if block_info.block.bookings.exists %}
                                {% if block_info.block.block_config.course %}
                                    <strong>Course booking:</strong> {{ block_info.block.bookings.first.event.course }}
                                {% else %}
                                    <strong>Booking:</strong> {{ block_info.block.bookings.first.event }}
                                {% endif %}
                            {% else %}
                                <strong>Credit block:</strong> {{ block_info.block.block_config }}
                            {% endif%} 
                            <span class="badge badge-info">{{ block_info.block.user|full_name }}</span>
                        </td>
                        <td class="p-1">
                            <div>Cost: {% if block_info.voucher_applied.discounted_cost is not None %}
                                    <span class="superceded-cost">£{{ block_info.original_cost }}</span> £{{ block_info.voucher_applied.discounted_cost }}
                                {% else %}
                                    £{{ block_info.original_cost }}
                                {% endif %}
                            {% if block_info.voucher_applied.discounted_cost is not None %}
                            <br><span class="text-secondary"><small><em>Voucher code applied: {{ block_info.voucher_applied.code }}</em></small></span>
                            {% endif %}
                            <span
                                    id="remove-block-{{ block_info.block.id }}"
                                    class="remove-block float-right"
                                    data-block_id="{{ block_info.block.id }}"
                                    >
                                <a class="btn btn-sm btn-danger" href="#"><i class="fas fa-trash-alt"></i></a>
                            </span>
                            </div>
                        </td>
                    </tr>
                    {% if not block_info.block.bookings.exists %}
                    <tr>
                        <td colspan="2" id="cart-row-block-warning-{{ block_info.block.id }}" class="cart-row-block-warning">
                                {% if block_info.block.block_config.course %}
                                    This credit block is valid for <strong class="text-danger">{{ block_info.block.block_config.size }}-CLASS COURSES OF {{ block_info.block.block_config.event_type.name|upper }} ({{ block_info.block.block_config.event_type.track|upper }}) ONLY</strong>.  You will not be able to use it to book drop-in classes, or other types of class/course.
                                {% else %}
                                    This credit block is valid for <strong class="text-danger">{{ block_info.block.block_config.event_type.name|upper }} ({{ block_info.block.block_config.event_type.track|upper }}) DROP IN BOOKINGS ONLY</strong>.  You will not be able to use it to book other types of class, or to book courses.
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

              {% if unpaid_subscription_info %}
                    <tr><td colspan="2" class="table-secondary"><strong>Subscriptions/Memberships</strong></td></tr>
                {% endif %}
                {% for subscription_info in unpaid_subscription_info %}
                    <tr id="cart-row-subscription-{{ subscription_info.subscription.id }}">
                        <td class="p-1">{{ subscription_info.subscription.config.name }}
                            <span class="badge badge-info">{{ subscription_info.subscription.user|full_name }}</span><br/>
                            Start date: {% if subscription_info.subscription.start_date %}
                                {{ subscription_info.subscription.start_date|date:"d-M-y" }}
                                {% if subscription_info.cost != subscription_info.full_cost %}(partial period){% endif %}
                            {% elif subscription_info.subscription.config.start_options == "signup_date" %}
                                date of purchase
                            {% elif subscription_info.subscription.config.start_options == "first_booking_date" %}
                                date of first booked class/event
                            {% endif %}
                        </td>
                        <td class="p-1">
                            <div>Cost: {% if subscription_info.cost != subscription_info.full_cost %}
                                <span class="superceded-cost">£{{ subscription_info.full_cost }}</span> {% endif %}
                                £{{ subscription_info.cost }}
                                <span
                                        id="remove-subscription-{{ subscription_info.subscription.id }}"
                                        class="remove-subscription float-right"
                                        data-subscription_id="{{ subscription_info.subscription.id }}"
                                        >
                                    <a class="btn btn-sm btn-danger" href="#"><i class="fas fa-trash-alt"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% if unpaid_gift_voucher_info %}
                    <tr><td colspan="2" class="table-secondary"><strong>Gift Vouchers</strong></td></tr>
                {% endif %}
                {% for gift_voucher_info in unpaid_gift_voucher_info %}
                    <tr id="cart-row-gift-voucher-{{ gift_voucher_info.gift_voucher.id }}">
                        <td class="p-1">{{ gift_voucher_info.gift_voucher.name }}
                            <a class="text-success" href="{% url 'booking:gift_voucher_update' gift_voucher_info.gift_voucher.slug %}"><span class="fas fa-edit"></span></a>
                        </td>
                        <td class="p-1">
                            <div>Cost: £{{ gift_voucher_info.gift_voucher.gift_voucher_config.cost }}
                                <span
                                        id="remove-gift-voucher-{{ gift_voucher_info.gift_voucher.id }}"
                                        class="remove-gift-voucher float-right"
                                        data-gift_voucher_id="{{ gift_voucher_info.gift_voucher.id }}"
                                        >
                                    <a class="btn btn-sm btn-danger" href="#"><i class="fas fa-trash-alt"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% if unpaid_merchandise %}
                    <tr>
                        <td colspan="2" class="table-secondary"><strong>Merchandise</strong><br/>
                            <span class="text-danger">
                                NOTE: merchandise cart items will be removed after {{ merchandise_cart_timeout_mins }} minutes
                            </span>

                        </td>
                    </tr>
                {% endif %}
                {% for product_purchase in unpaid_merchandise %}
                    <tr id="cart-row-product_purchase-{{ product_purchase.id }}">
                        <td class="p-1">{{ product_purchase.product }}{% if product_purchase.size %} - {{ product_purchase.size }}{% endif %}</td>
                        <td class="p-1">
                            <div>Cost: £{{ product_purchase.cost }}
                                <span
                                        id="remove-product_purchase-{{ product_purchase.id }}"
                                        class="remove-product_purchase float-right"
                                        data-product_purchase_id="{{ product_purchase.id }}"
                                        >
                                    <a class="btn btn-sm btn-danger" href="#"><i class="fas fa-trash-alt"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

              </tbody>
              <tfoot>
              <tr>
                  <td colspan="2">
                      <strong>TOTAL:
                          {% if total_cost_without_total_voucher != total_cost %}
                                <span class="superceded-cost">£{{ total_cost_without_total_voucher }}</span>
                          {% endif %}
                          £ <span id="total">{{ total_cost }}</span></strong>
                    {% if total_cost_without_total_voucher != total_cost %}
                        <span class="text-secondary"><small><em> (voucher code applied: {{ request.session.total_voucher_code }})</em></small></span>{% endif %}
                      {% if checkout_method == "paypal" %}
                      <span
                          class="ajax-checkout-btn"
                          id="checkout-btn"
                          data-total="{{ total_cost }}"
                      >
                          <span id="payment-btn">{% include "booking/includes/payment_button.txt" %}</span>
                      </span>

                      <span id="paypal-btn-wrapper"><span id="paypal-checkout-btn"></span></span>
                    {% elif checkout_method == "stripe" %}
                      <form method="post" action="{% url 'booking:stripe_checkout' %}">
                          {% csrf_token %}
                          <input type="hidden" name="cart_total" value="{{ total_cost }}">
                          <input
                                  class="btn btn-xs btn-xs-wide btn-warning mb-1"
                                  type="submit"
                                  onclick="{% if unpaid_block_info %}
                                      return confirm('All sales are final.  Please ensure that any credit blocks you are ' +
                                      'purchasing are valid for the classes and/or course you want to book. ' +
                                      '\n\n' +
                                      'Do you want to continue?'){% endif %}"
                                  value="{% if total_cost > 0 %}Checkout{% else %}Submit{% endif %}"
                          />
                      </form>
                    {% endif %}


                      <div>Add additional items:<br/>
                      {% if request.user.is_authenticated %}
                          <a class="btn btn-xs btn-outline-primary" href="{% url 'booking:purchase_options' %}">Payment plans</a>
                          <a class="btn btn-xs btn-outline-primary" href="{% url 'merchandise:products' %}">Merchandise</a>
                      {% endif %}
                      <a class="btn btn-xs btn-outline-primary" href="{% url 'booking:buy_gift_voucher' %}">Gift vouchers</a>
                      </div>
                      {% if request.user.is_authenticated %}
                      <hr>
                          <form name="block_voucher_form" class="form-inline" method="post" action="">
                            {% csrf_token %}
                            <input name="code" type="text" required="required"/>
                            <input class="btn btn-sm btn-outline-info ml-2" type="submit" name="add_voucher_code" value="Apply voucher code"/>
                        </form>
                        <span class="errorlist"><ul>{% for error in voucher_add_error %}<li>{{ error }}</li>{% endfor %}</ul></span>
                      {% if applied_voucher_codes_and_discount %}
                      <hr class="mb-2">
                      <div><small><strong>Codes applied:</strong></small>
                          {% for applied_voucher_code, applied_voucher_discount, applied_voucher_discount_amount in applied_voucher_codes_and_discount %}
                                <form class="form-inline mt-0 mb-1" method="post" action="">
                                    {% csrf_token %}
                                    <input name="code" type="hidden" value="{{ applied_voucher_code }}"/>
                                    <span class="mr-1 m-0 pb-1 pl-1 pr-1 pt-0 alert alert-info"><small><strong>{{ applied_voucher_code }}</strong> ({% if applied_voucher_discount %}{{ applied_voucher_discount }}%{% else %}£{{ applied_voucher_discount_amount }}{%  endif %} off)</small></span>
                                    <button type="submit" name="remove_voucher_code" class="btn btn-sm btn-danger pb-1 pl-2 pr-2 pt-0"><small><i class="fas fa-trash-alt"></i></small></button>
                                    <button type="submit" name="refresh_voucher_code" class="btn btn-sm btn-info pb-1 pl-2 pr-2 pt-0 ml-1"><small><i class="fas fa-sync-alt"></i></small></button>
                                </form>
                            {% endfor %}
                     </div>
                      {% endif %}
                    {% endif %}
                  </td>
              </tr>
              </tfoot>
            </table>
    </div>

{% else %}
    <div class="col-12">
    <p>Your cart is empty</p>
    {% if request.user.is_authenticated %}
    <p>
        <a class="btn btn-xs btn-outline-primary" href="{% url 'booking:purchase_options' %}">Add payment plans</a>
        <a class="btn btn-xs btn-outline-primary" href="{% url 'booking:buy_gift_voucher' %}">Add gift vouchers</a>
        <a class="btn btn-xs btn-outline-primary" href="{% url 'merchandise:products' %}">Add merchandise</a>
    </p>
    {% endif %}
    </div>
{% endif %}
</div>

{% endblock content %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'booking/js/shopping_basket_ajax-v4.js' %}"></script>
{% endblock %}