{% extends "account/base.html" %}

{% load accounttags bookingtags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block content %}

   {% include 'common/includes/view_as_user.html' %}

    <h1>Subscriptions</h1>

    {% if subscriptions %}
        {% for subscription in subscriptions %}
        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark pt-1 pb-1">{{ subscription.config.name }}
                <a href="{% url 'booking:subscription_detail' subscription.id %}" class="btn btn-sm btn-dark float-right pt-0 pb-0">View details</a>
            </div>
            <div class="list-group-item {% if subscription.has_expired %}list-group-item-secondary{% endif %} pb-0 pt-0">
                Purchased: {{ subscription.purchase_date | date:"d-M-Y" }} | {{ subscription|subscription_start_text }} | {{ subscription|subscription_expiry_text }}<br/>
                {%  if subscription.config.bookable_event_types %}Used: {{ subscription.bookings.count }}{% endif %}
            </div>
        </div>
        {% endfor %}

    {% else %}
        <p>{{ view_as_user|full_name }} does not have any subscriptions.</p>
    {% endif %}

    {% include 'common/includes/single_page_pagination.html' %}


{% endblock content %}
