{% extends "base.html" %}
{% load static accounttags email_obfuscator %}

{% block content %}

<div>

    <h2>Terms & Conditions</h2>

    <p>
        <strong>
        Please read these fully, as by signing up for a session with Freedom of Flight Aerial, 
        we assume you agree to all the terms and conditions. If you are unsure of anything, 
        please contact {{ studio_email|obfuscate_mailto }} before booking or have a look at our website 
        <a href="https://freedomofflightaerial.com">freedomofflightaerial.com</a> for further clarification.
        </strong>
    </p>

    <h4>General</h4>
    <ul>
        <li>No spectators, only participants may enter the studio.</li>
        <li>No one under the influence of alcohol or drugs may participate.</li>
        <li>Participants should be of full health to participate.</li>
        <li>Participants must make instructors aware of any injury or illness.</li>
        <li>Freedom of Flight Aerial reserve the right to refuse participation when they deem necessary.</li>
        <li>I understand that photographs taken by Freedom of Flight Aerial may be used on the studio's website and social media.</li>
        <li>We cannot deal with administration talks whist instructing, please send enquiries to {{ studio_email|obfuscate_mailto }}.</li>
        <li>Do not contact instructors via their personal social media sites.</li>
        <li>Any abusive or inappropriate behavior will not be tolerated, and you will be asked to leave and not offered a refund.</li>
    </ul>

    <h4>Studio Etiquette</h4>
    <ul>
        <li>Please arrive ready for class and only bring essential items into the studio.</li>
        <li>We do not allow bikes/scooters etc to be stored in the studio.</li>
        <li>Please aim to arrive 5-10 minutes before your class start time.</li>
        <li>Latecomers may not be able to participate and will forfeit their session.</li>
        <li>Please leave any shoes, bags and outdoor clothing in the cubby holes provided.</li>
        <li>We do not take responsibility for your belongings within the car park or studio.</li>
        <li>All lost property will be stored for 1 month and then taken to charity.</li>
        <li>Please remember to bring a hair tie for long hair, remove all jewellery and bring a water bottle.</li>
        <li>We are a zero-waste studio, please take any rubbish away with you.</li>
        <li>We do not allow eating or drinking (other than water) within the studio.</li>
        <li>If posting on social media, please ensure no one else is identifiable unless you have their permission.</li>
        <li>Please tag Freedom of Flight Aerial in your posts.</li>
        <li>We ask people to leave promptly and make sure they collect all belongings at the end of the session.</li>
    </ul>

    <h4>Bookings</h4>
    <ul>
        <li>All bookings must be made online in advance, we cannot accept cash or card payment at the studio.</li>
        <li>You will only have a place in our sessions once you have paid and booked online.</li>
        <li>Anyone attending who has not paid or booked will be refused participation.</li>
        <li>When signing up you must answer all the questions to the best of your knowledge and keep your contact 
            and medical information up to date with any changes.</li>
        <li>Make sure you read the terms and conditions for all purchases made.</li>
        <li>Purchases cannot be used by anyone other than the named person.</li>
    </ul>
    
    <h4>Refunds & Cancellations</h4>
    <ul>
        <li>Refunds/Credits will be given if Freedom of Flight Aerial must cancel a session.</li>
        <li>All our passes have individual terms and conditions noted, please make sure you 
            read them before making your purchase.</li>
        <li>We do not offer cancellations, extensions, exchanges or credits for non-attendance.</li>
        <li>Latecomers are considered non-attendance.</li>
        <li>If you have been told by a doctor not to participate in exercise, please email 
            {{ studio_email|obfuscate_mailto }} and we will pause your pass from the day you 
            contact until you are signed back from the doctor as fit to return for up to 1 year.</li>
    </ul>
    
    <h4>Professional Training</h4>
    <ul>
        <li>All Studio Etiquette points above apply to professional training.</li>
        <li>You must pay and book online in advance.</li>
        <li>Full details are available in the session details.</li>
        <li>Terms and conditions for each pass are noted.</li>
        <li>Follow the open and close procedure.</li>
        <li>Return all equipment and mats back in place.</li>
        <li>You will be financially liable for any damage caused to the studio, mats or equipment.</li>
    </ul>
</div>

{% endblock content %}