<div class="subnav">
<nav class="navbar fixed-top fixed-top-subnav navbar-expand-lg navbar-light" id="navbarTimetableSubNavContainer">
  <a class="navbar-brand" href="#">ADMIN: Timetable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTimetableSubNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTimetableSubNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:choose_event_type_timetable_session_to_create' %}">Add session</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:timetable' %}">View/Edit</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'studioadmin:upload_timetable' %}">Upload</a>
      </li>
    </ul>
  </div>
</nav>
</div>