{% load crispy_forms_tags accounttags %}

<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="user-subscription-form" method='post' class="form" role="form" action='{% url "studioadmin:subscriptionedit" subscription.id %}'>

            <div class="modal-header">
                <h4 class="modal-title" id="UserSubscriptionModalLabel">Editing subscription for {{ subscription.user|full_name }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="container-fluid">
                <div class="modal-body">
                {% csrf_token %}
                {% crispy form %}
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" value="Cancel" />
            </div>
        </form>


        <script>
            var form_options = {
                target: '#UserSubscriptionModal',
                success: function() { }
            };

            $('#user-subscription-form').ajaxForm(form_options);
        </script>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->