{% load crispy_forms_tags %}

<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="user-course-block-form" method='post' class="form" role="form" action='{% url "studioadmin:courseblockchange" block.id %}'>

            <div class="modal-header">
                <h4 class="modal-title" id="UserCourseBlockModalLabel">Add/Change course on credit block for {{ block.user.first_name }} {{ block.user.last_name}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="container-fluid">
                <div class="modal-body">
                {% csrf_token %}
                {% crispy form %}
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" value="Cancel" />
            </div>
        </form>


        <script>
            var form_options = {
                target: '#UserCourseBlockModal',
                success: function() { }
            };

            $('#user-course-block-form').ajaxForm(form_options);
        </script>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->