{% load crispy_forms_tags %}

<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="user-block-add-form" method='post' class="form" role="form" action='{% url "studioadmin:blockadd" block_user.id %}'>
            <div class="modal-header">
                <h4 class="modal-title" id="UserBlockAddModalLabel">Adding block for {{ block_user.first_name }} {{ block_user.last_name}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="container-fluid">
                <div class="modal-body">
                {% csrf_token %}
                {% crispy form %}
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" value="Cancel" />
            </div>
        </form>


        <script>
            var form_options = {
                target: '#UserBlockAddModal',
                success: function() { }
            };

            $('#user-block-add-form').ajaxForm(form_options);
            $('#id_manual_expiry_date').datetimepicker({
                format:'d-M-Y',
                formatDate:'d-M-Y',
                timepicker: false,
                closeOnDateSelect: true,
                scrollMonth: false,
                scrollTime: false,
                scrollInput: false
            });
        </script>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->