{% extends "base.html" %}

{% load bookingtags static %}


{% block content %}

<div class="row">
    <div class="col-12 mt-5">
    <div class="card">
        <div class="card-header"><h2>Payment Processed</h2></div>
        <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">
                Thank you for your payment. Your transaction has been completed and we've emailed you confirmation and transaction details.
            </p>

            <p>
                <strong><span class="text-danger">Please note</span>: purchasing a credit block or subscription does not automatically book you into
                    any specific course or class.</strong></p>

            <p>You can now go to the <a href="{% url 'booking:schedule' %}">schedule</a> to
                select and book your course/class.
            </p>
        </div>
    </div>
</div>

{% endblock %}

