{% extends "base.html" %}

{% load accounttags bookingtags static %}


{% block content %}

<div class="row">
    <div class="col-12 mt-5">
    <div class="card">
        <div class="card-header text-center">
            <i class="font-weight-lighter text-success far fa-check-circle fa-5x"></i>
        </div>
        <div class="card-body">
            <h4 class="card-title">Payment Processed</h4>
            <p class="card-text">
                Thank you for your payment. Your transaction has been completed and you'll receive confirmation by email shortly.
            </p>

                <table class="table table-bordered">
                <thead>
                    <th>Item</th>
                    <th>Cost</th>
                </thead>
                <tbody>
                    {% for name, cost in cart_items.items %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ cost }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>

            <p>
                <strong><span class="text-danger">Please note</span>: purchasing a credit block or subscription does not automatically book you into
                    any specific course or class.</strong></p>

            <p>You can now go to the <a href="{% url 'booking:schedule' %}">schedule</a> to
                select and book your course/class.
            </p>
        </div>
    </div>
</div>

{% endblock %}

