{% extends "base.html" %}

{% load bookingtags static %}


{% block content %}

<div class="row">
    <div class="col-12 mt-5">
    <div class="card">
        <div class="card-header"><h2>Valid Payment</h2></div>
        <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">
                Thank you for your payment. Your transaction has been completed and we've emailed you confirmation and transaction details.
            </p>
            <p>
                If you purchased a block or course, it is now available to use to book classes.
            </p>
        </div>
    </div>
</div>

{% endblock %}

