{%  extends "base.html" %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:tracks' %}">Setup</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:disclaimer_contents' %}">Policies</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:block_configs' %}">Payments</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:registers' %}">Events/Registers</a></li>
        {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:courses' %}">Courses</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:timetable' %}">Timetable</a></li>
        {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:users' %}">Students</a></li>
        {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:products' %}">Merchandise</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:vouchers' %}">Vouchers</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:help' %}">Help</a></li>
       {% endif %}
            {% block subnav-xs %}{% endblock %}

        </ul>

      <span class="float-right">
        <ul class="nav navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Log Out
                  <span data-toggle="tooltip" data-html="true" title='<span class="helptext">Logged in as {{ request.user }}</span>'>
                  <i class="fas fa-info-circle"></i>
                </span></a>
            </li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}?next={{request.get_full_path}}">Log In</a></li>
          {% endif %}
      </ul>
      </span>
      </div>
{% endblock %}

{% block notices %}{% endblock %}

