{%  extends "studioadmin/base.html" %}

{% load crispy_forms_tags %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/payment_plans_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/payment_plans_subnav.html" %}
{% endblock %}

{% block content %}
    {% if creating %}
    <h1>Creating new {{ block_config_type }} credit block</h1>
    {% else %}
        <h1>Updating {{ block_config_type }} credit block: {{ form.instance.name }}</h1>
        {% if form.existing_blocks %}
            <p class="text-danger">
                NOTE: blocks of this type have already been purchased; cannot update event type, size or duration.
            </p>
        {% endif %}
    {% endif %}

    {% if form.errors %}
        <p class="text-danger">Please correct the errors below:</p>
    {% endif %}

        <form method="post" action="">
        {% csrf_token %}
        {% crispy form %}
        </form>

{% endblock %}

