{%  extends "studioadmin/base.html" %}

{% load static %}

{% block precontent %}
    {%  include "studioadmin/includes/courses_subnav.html" %}
{% endblock %}

{% block content %}
    <h2>Cancelling {{ course }}</h2>

    <p>All events associated with this course will also be cancelled.
        Any students booked on the course will have their block credited back.</p>

    {% if bookings_to_cancel_users %}
        <p>The following students have bookings which will be cancelled:</p>
        <ul>
            {% for booking_user in bookings_to_cancel_users %}
            <li>{{ booking_user.first_name }} {{ booking_user.last_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no open bookings for this course.</p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <div class="form-group">
        <label for="additional_message">Additional message to include in emails to students:</label><br/>
        <textarea class="form-control" id="additional_message" rows="10" name="additional_message"/></textarea>
        </div>
        <div class="form-group">
        <p><strong>Please confirm you want to cancel this course.</strong></p>
        <input class="btn btn-success" type="submit" name="confirm" value="Yes, cancel course" />
        <input class="btn btn-outline-dark" type="submit" name="cancel" value="No, take me back" />
        </div>
    </form>

{% endblock content %}
