{%  extends "studioadmin/base.html" %}

{% load crispy_forms_tags %}
{% block precontent %}
    {%  include "studioadmin/includes/timetable_subnav.html" %}
{% endblock %}

{% block content %}
    <h1>Cloning timetable session: {{ timetable_session.name }} - {{ timetable_session.get_day_name }} {{ timetable_session.time }}</h1>

        {% if form.errors %}
            <p class="text-danger">Please correct the errors below</p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>

{% endblock %}

