{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/site_config_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/site_config_subnav.html" %}
{% endblock %}

{% block content %}
    <h1>Course Types</h1>
    <p>
        Course Types hold key basic information for courses.
    </p>

{% if course_types %}
        <table class="table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>Event Type</th>
                    <th># Events</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            <!-- Modals -->
            <div class="modal fade" id="EditCourseTypeModal" tabindex="-1" role="dialog" aria-labelledby="EditCourseTypeModalLabel"></div>
            <div class="modal fade" id="AddCourseTypeModal" tabindex="-1" role="dialog" aria-labelledby="AddCourseTypeModalLabel"></div>
            <!-- /.modal -->

            {% for course_type in course_types %}
                <tr id="row-course-type-{{ course_type.id }}">
                    <td>
                        <a
                        id="edit-course-type-btn"
                        class="edit-course-type"
                        href="#" data-form="{% url 'studioadmin:edit_course_type' course_type.id %}"
                        title="edit course type"
                    >Edit</a>
                    </td>
                    <td>{{ course_type.event_type }}</td>
                    <td>{{ course_type.number_of_events }}</td>
                    <td class="text-center">
                        {% if not course_type.course_set.exists %}
                            <div
                                class="course-type-delete-btn"
                                data-course_type_id="{{ course_type.id }}"
                            >
                                <span class="btn btn-sm btn-danger pt-0 pb-0"><i class="far fa-trash-alt"></i></span>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <a
                        id="add-course-type-btn"
                        class="add-course-type"
                        href="#" data-form="{% url 'studioadmin:add_course_type' %}"
                        title="add course type"
                    ><div class="btn btn-success">Add new course type</div></a>
                </td>
            </tr>
            </tbody>
        </table>

{% else %}
    <p>No course types created yet</p>
{% endif %}


{% endblock content %}


{% block extra_js %}
{# Load from local if in dev mode (debug on) and not specifically set #}
{% if use_cdn %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous"></script>
{% else %}
    <script type='text/javascript' src="{% static 'js/jquery.form-4.3.0.min.js' %}"></script>
{% endif %}
<script type='text/javascript' src="{% static 'studioadmin/js/course_types_ajax-v1.js' %}"></script>
{% endblock %}