{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/courses_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/courses_subnav.html" %}
{% endblock %}

{% block content %}
    <h1>{% if past %}Past {% endif %}Courses</h1>
    {% if track_courses %}
        <nav>
            <div class="nav nav-tabs" id="courseTrackTabs" role="tablist">
                {% for track_obj in track_courses %}
                    <a class="nav-item nav-link {% get_active_tab_class track_obj.index tab %}" href="#tab{{ track_obj.index }}" data-toggle="tab">{{ track_obj.track }}</a>
                {%  endfor %}
            </div>
        </nav>
        <div class="tab-content">
        {% for track_obj in track_courses %}
            <div class="tab-pane fade {% get_active_pane_class track_obj.index tab %}" id="tab{{ track_obj.index }}" role="tabpanel">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name{% if not past %}<br/><span class="helptext">Click to edit</span>{% endif %}</th>
                                <th scope="col">Start (first event)</th>
                                <th scope="col" class="text-center">Number of events</th>
                                <th scope="col" class="text-center">Events configured</th>
                                <th scope="col" class="text-center">Spaces</th>
                                <th scope="col">Event Type</th>
                                <th scope="col" class="text-center">Visible</th>
                                <th scope="col">Configured</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for course in track_obj.page_obj %}
                            <tr {% if course.cancelled %}class="expired"{% endif %}>
                                <td>
                                    {% if not past %}
                                        <a href="{% url 'studioadmin:update_course' course.slug %}">{{ course.name }}</a>
                                    {% else %}
                                        {{ course.name }}
                                    {% endif %}
                                </td>
                                <td>{{ course.events.first.start|date:"D d M Y, H:i" }}</td>
                                <td class="text-center">{{ course.number_of_events }}</td>
                                <td class="text-center">
                                        <div
                                            class="badge badge-warning pr-2 pl-2"
                                            data-toggle="tooltip"
                                             data-placement="top"
                                             data-html="true"
                                             title="<ul class='helptext pl-0'>{% for event in course.events.all %}<li>{{ event }}</li>{% endfor %}</ul>">
                                            {{ course.events.count }}
                                        </div>
                                </td>
                                <td class="text-center">{% if course.events.exists %}{{ course.events.first.spaces_left }}{% else %}{{ course.max_participants }}{% endif %} {% if course.max_participants %}/ {{ course.max_participants }}{% endif %}</td>
                                <td>{{ course.event_type.name }}</td>
                                {% if event.course %}
                                    <td class="helptext">Set on course</td>
                                {% else %}
                                    <td class="text-center">
                                        {% if course.cancelled %}
                                            <span class="btn btn-sm btn-visible btn-secondary disabled">No</span>
                                        {% else %}
                                          <span
                                              id="visible-{{ course.id }}"
                                              data-course_id="{{ course.id }}"
                                              class="visible-btn"
                                              >
                                              {% include "studioadmin/includes/ajax_toggle_course_visible_btn.html" %}
                                          </span>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td class="text-center">{{ course.is_configured|yesno|title }}</td>
                                <td>
                                    {% if not past %}
                                        {% if course.cancelled %}
                                            Cancelled
                                        {%  else %}
                                            <a class="btn btn-sm btn-danger pt-0 pb-0" href="{% url 'studioadmin:cancel_course' course.slug %}">Cancel</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if course.events.first.bookings.exists %}
                                        <div data-toggle="tooltip" data-placement="top" title="Email booked students">
                                            <a href="{% url 'studioadmin:email_course_users' course.slug %}"><i class="far fa-envelope"></i></a>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            {% include 'studioadmin/includes/track_pagination.html' %}
            </div>
        {% endfor %}



    </div> <!-- tab content -->
    {% else %}
    No courses to display
    {% endif %}
{% endblock content %}

{% block extra_js %}
<script type='text/javascript' src="{% static 'studioadmin/js/courses_ajax-v1.js' %}"></script>
{% endblock %}

