{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/payment_plans_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/payment_plans_subnav.html" %}
{% endblock %}

{% block content %}
    <h1>Credit Blocks</h1>
    <p>
        Credit Blocks set up payment plans available for events and courses.
    </p>
    <p>Note that a credit block can only be deleted if no purchases have been made yet.</p>

    <!-- Modals -->
        <div class="modal fade" id="AddBlockConfigModal" tabindex="-1" role="dialog" aria-labelledby="AddBlockConfigModalLabel"></div>
        <!-- /.modal -->

    {% if not block_config_groups %}
        <p>No credit blocks created yet</p>
    {% else %}

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name<br/><span class="helptext">Click to edit</span></th>
                    <th class="text-center">Active</th>
                    <th class="text-center">Size</th>
                    <th class="text-center">Duration (weeks)</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Purchased</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for title, block_configs in block_config_groups.items %}
                <tr class="table-secondary">
                    <td colspan="7">{{ title }}</td>
                </tr>
                {% if not block_configs %}<tr><td colspan="7">No {{ title }} created yet</td></tr>{% endif %}
                {% for block_config in block_configs %}
                    <tr id="row-{{ block_config.id }}">
                        <td><a href="{% url 'studioadmin:edit_block_config' block_config.id %}">{{ block_config.name }}</a></td>
                        <td class="text-center">
                            <span
                              id="active-{{ block_config.id }}"
                              data-block_config_id={{ block_config.id }}
                              class="active-btn"
                              >
                              {% include "studioadmin/includes/ajax_toggle_block_config_active_btn.html" %}
                            </span>
                        </td>
                        <td class="text-center">{{ block_config.size }}</td>
                        <td class="text-center">{{ block_config.duration }}</td>
                        <td class="text-center">£{{ block_config.cost }}</td>
                        <td class="text-center">
                            <a href="{% url 'studioadmin:block_config_purchases' block_config.id %}">{{ block_config.blocks_purchased }}</a></td>
                        <td class="text-center">
                            {% if not block_config.blocks_purchased %}
                                <div
                                    class="block-config-delete-btn"
                                    data-block_config_id="{{ block_config.id }}"
                                >
                                    <span class="btn btn-sm btn-danger pt-0 pb-0"><i class="far fa-trash-alt"></i></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}

            </tbody>

        </table>
    {% endif %}

    <a
        id="add-block-config-btn"
        class="add-block-config"
        href="#" data-form="{% url 'studioadmin:choose_block_config_type' %}"
        title="add credit block"
    ><div class="btn btn-success">Add new credit block</div></a>

{% endblock %}


{% block extra_js %}
{# Load from local if in dev mode (debug on) and not specifically set #}
{% if use_cdn %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous"></script>
{% else %}
    <script type='text/javascript' src="{% static 'js/jquery.form-4.3.0.min.js' %}"></script>
{% endif %}
<script type='text/javascript' src="{% static 'studioadmin/js/block_config_ajax-v1.js' %}"></script>
{% endblock %}