{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/site_config_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/site_config_subnav.html" %}
{% endblock %}

{% block content %}
    <h1>Credit Blocks</h1>
    <p>
        Credit Blocks set up payment plans available for events and courses.
    </p>
    <p>Note that a credit block can only be deleted if no purchases have been made yet.</p>

    {% if not block_config_groups %}
        <p>No credit blocks created yet</p>
    {% else %}
        <!-- Modals -->
        <div class="modal fade" id="AddBlockConfigModal" tabindex="-1" role="dialog" aria-labelledby="AddBlockConfigModalLabel"></div>
        <!-- /.modal -->

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name<br/><span class="helptext">Click to edit</span></th>
                    <th>Active</th>
                    <th>Size</th>
                    <th>Duration (weeks)</th>
                    <th>Cost</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for title, block_configs in block_config_groups.items %}
                <tr class="table-secondary">
                    <td colspan="6">{{ title }}</td>
                </tr>
                {% for block_config in block_configs %}
                    <tr id="row-{{ block_config.id }}">
                        <td><a href="{% url 'studioadmin:edit_block_config' block_config.id %}">{{ block_config.name }}</a></td>
                        <td>
                            <span
                              id="active-{{ block_config.id }}"
                              data-block_config_id={{ block_config.id }}
                              class="active-btn"
                              >
                              {% include "studioadmin/includes/ajax_toggle_block_config_active_btn.html" %}
                            </span>
                        </td>
                        <td>{{ block_config.size }}</td>
                        <td>{{ block_config.duration }}</td>
                        <th>£{{ block_config.cost }}</th>
                        <td class="text-center">
                            {% if not block_config.block_set.exists %}
                                <div
                                    class="block-config-delete-btn"
                                    data-block_config_id="{{ block_config.id }}"
                                >
                                    <span class="btn btn-sm btn-danger pt-0 pb-0"><i class="far fa-trash-alt"></i></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        <tr>
            <td colspan="6">
                <a
                        id="add-block-config-btn"
                        class="add-block-config"
                        href="#" data-form="{% url 'studioadmin:choose_block_config_type' %}"
                        title="add credit block"
                    ><div class="btn btn-success">Add new credit block</div></a>
            </td>
        </tr>
            </tbody>

        </table>
    {% endif %}

{% endblock %}


{% block extra_js %}
{# Load from local if in dev mode (debug on) and not specifically set #}
{% if use_cdn %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous"></script>
{% else %}
    <script type='text/javascript' src="{% static 'js/jquery.form-4.3.0.min.js' %}"></script>
{% endif %}
<script type='text/javascript' src="{% static 'studioadmin/js/block_config_ajax-v1.js' %}"></script>
{% endblock %}