{% extends 'studioadmin/base.html' %}
{% load static studioadmintags accounttags email_obfuscator crispy_forms_tags %}

{% block precontent %}
{% endblock %}

{% block content %}

{{ form.media }}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Email Students</h2>
    </div>
   {% if users_to_email %}
        <div class="card-body">
                <div>
                    {% if courses or events %}
                        You are sending an email regarding:
                        <ul>
                            {% for event in events %}
                            <li>{{ event.name }}</li>
                            {% endfor %}
                            {% for course in courses %}
                            <li>{{ course.name }} {% if course.start %}- starts {{ course.start|date:"D d M Y, H:i" }}{% endif %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    The following students will be emailed:
                    <ul>
                    {% for user in users_to_email %}
                        <li>{{ user|full_name }} ({{ user.contact_email }})
                    {% endfor %}
                    </ul>
                </div>
            </div>
                  <span class="divider"></span>
            <div class="card-body">

            <form class="dirty-check" class="form" method="post" action="">
                {% csrf_token %}

                <div>

                    {% for field in form %}
                        {% if field.label == 'cc. from address'%}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}<span class="helptext">  {{ field.help_text }}</span>

                        </div>
                        {% else %}
                        <div class="form-group">
                            <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                            <div>{{ field }}<p class="helptext">{{ field.help_text }}</p></div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" name="send_email" class="btn btn-success" value="Send Email"/>
                        <input type="submit" name="send_test" class="btn btn-warning" value="Send Test Email"/>
                        <span class="helptext">Test email sends ONLY to the specified from address</span>
                    </div>
                </div>
            </form>
        </div>
   {% else %}
   <div class="card-body">
        No students selected for this email!  Go <a href="{% url 'studioadmin:choose_email_users' %}">here</a> to select students.
   </div>
       {% endif %}

</div>

{% endblock %}
