{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block precontent %}
    {%  include "studioadmin/includes/events_subnav.html" %}
{% endblock %}

{% block content %}
<div class="admincontent">
    <h1>Scheduled Events</h1>
    <nav>
        <div class="nav nav-tabs" id="eventsTrackTabs" role="tablist">
            {% for track_obj in track_events %}
                <a class="nav-item nav-link {% get_active_tab_class track_obj.index tab %}"
                   href="#tab{{ track_obj.index }}" data-toggle="tab">{{ track_obj.track }}</a>
            {%  endfor %}
        </div>
    </nav>
{% if track_events %}
    <div class="tab-content">
        {% for track_obj in track_events %}
            <div class="tab-pane fade {% get_active_pane_class track_obj.index tab %}" id="tab{{ track_obj.index }}" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Name<br/><span class="helptext">Click to edit</span></th>
                                <th scope="col" class="text-center">Course</th>
                                <th scope="col">Time</th>
                                <th scope="col" class="text-center">Duration</th>
                                <th scope="col" class="text-center">Spaces</th>
                                <th scope="col">Event Type</th>
                                <th scope="col" class="text-center">Visible</th>
                                <th scope="col" class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event_date, events in track_obj.queryset_by_date.items %}
                            <tr class="table-secondary table-divider"><td colspan="10">{{ event_date|date:"D d M Y" }}</></td></tr>
                            {% for event in events %}
                            <tr {% if event.cancelled %}class="expired"{% endif %}>
                                <td><a href="{% url 'studioadmin:update_event' event.slug %}">{{ event.name }}</a></td>
                                <td class="text-center">
                                    {% if event.course %}
                                        <a href="{% url 'studioadmin:update_course' event.course.slug %}">
                                            <div data-toggle="tooltip" data-placement="top" title="{{ event.course.name }}">
                                            <i class="fas fa-external-link-alt"></i></div>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{ event.start|date:"H:i" }}</td>
                                <td class="text-center">{{ event.duration }} mins</td>
                                <td class="text-center">{{ event.spaces_left }} {% if event.max_participants %}/ {{ event.max_participants }}{% endif %}</td>
                                <td>{{ event.event_type.name }}</td>
                                {% if event.course %}
                                    <td class="helptext text-center">Set on course</td>
                                {% else %}
                                    <td class="text-center">
                                        {% if event.cancelled %}
                                            <span class="btn btn-sm btn-visible btn-secondary disabled">No</span>
                                        {% else %}
                                          <span
                                              id="visible-{{ event.id }}"
                                              data-event_id="{{ event.id }}"
                                              class="visible-btn"
                                              >
                                              {% include "studioadmin/includes/ajax_toggle_event_visible_btn.html" %}
                                          </span>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td class="pr-0 pl-1 text-center"><a href="{% url 'studioadmin:clone_event' event.slug %}"><i class="far fa-clone"></i></a></td>
                                <td class="pr-0 pl-1 text-center">
                                    {% if event.cancelled %}
                                        Cancelled
                                    {%  else %}
                                        <a class="btn btn-sm btn-danger pt-0 pb-0" href="{% url 'studioadmin:cancel_event' event.slug %}">Cancel</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if event.bookings.exists %}
                                    <a href="{% url 'studioadmin:email_event_users' event.slug %}"><i class="far fa-envelope"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {%  endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% include 'studioadmin/includes/event_pagination.html' %}
            </div>
        {% endfor %}
    </div> <!-- tab content -->
{% else %}
<p>No events created yet</p>
{% endif %}
</div>
{% endblock content %}

{% block extra_js %}
<script type='text/javascript' src="{% static 'studioadmin/js/events_ajax-v1.js' %}"></script>
{% endblock %}
