{%  extends "studioadmin/base.html" %}

{% block precontent %}
    {%  include "studioadmin/includes/events_subnav.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid pb-2">
    {% if creating %}
    <h1>Creating new {{ event_type.name }}</h1>
    <h2>Track: {{ event_type.track }}</h2>
    {% else %}
        <h1>Updating {{ event.event_type.label }}: {{ event.name }}</h1>
        <h2>Track: {{ event.event_type.track }}</h2>
    {% endif %}

    {% if creating %}
    <p>If this {{ event_type.label }} is part of a course, create the events first, and then add them to the course.  Note that
    max participants for an individual {{ event_type.label }} is overridden by the course settings.  Any value you
    add here will be updated with the value from the course value when you add this {{ event_type.label }} to the course.</p>
    <p>By default, a newly created {{ event_type.label }} is not visible on the booking site.  Make it visible on creation
        by ticking "show on site", or use the button on the event list page.</p>
    {% endif %}

        <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>

    </div>
{% endblock %}

