{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags accounttags email_obfuscator %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/events_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/events_subnav.html" %}
{% endblock %}

{% block content %}

    <h2>Waiting List for {{ event }}</h2>
    <p class="lead">(Currently {% if event.spaces_left %}not {% endif %} full)</p>
        <a class="btn btn-sm btn-outline-dark mb-2" href="{% url 'studioadmin:email_waiting_list' event.id %}">Email waiting list</a>
            {% if waiting_list_users %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Date joined</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for wluser in waiting_list_users %}
                            <tr id="row-wluser-{{ wluser.id }}">
                                <td>{{ wluser.user.first_name }} {{ wluser.user.last_name }}</td>
                                <td>{% if wluser.user.manager_user %}
                                        {{ wluser.user.manager_user.email|obfuscate_mailto:"<i class='far fa-envelope'></i>"|safe }} ({{ wluser.user.manager_user|full_name }})
                                    {% else %}
                                        {{ wluser.user.email|obfuscate_mailto:"<i class='far fa-envelope'></i>"|safe }}
                                    {% endif %}
                                </td>
                                <td>{{ wluser.date_joined }}</td>
                                <td class="text-center wl-remove-btn"
                                    data-wluser_id={{ wluser.id }}
                                    data-event_id={{ event.id }}>
                                    <span class="btn btn-sm btn-outline-success">Remove</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            {% else %}
                <p>There are no students on the waiting list.</p>
            {% endif %}

{% endblock %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'studioadmin/js/waiting_list_ajax-v1.js' %}"></script>
{% endblock %}
