{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/events_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/events_subnav.html" %}
{% endblock %}

{% block content %}
    <h1>Registers</h1>
    <nav>
        <div class="nav nav-tabs" id="eventsTrackTabs" role="tablist">
            {% for track_obj in track_events %}
                <a class="nav-item nav-link {% get_active_tab_class track_obj.index tab %}"
                   href="#tab{{ track_obj.index }}" data-toggle="tab">{{ track_obj.track }}</a>
            {%  endfor %}
        </div>
    </nav>
{% if track_events %}
    <div class="tab-content">
        {% for track_obj in track_events %}
            <div class="tab-pane fade {% get_active_pane_class track_obj.index tab %}" id="tab{{ track_obj.index }}" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col"><br/><span class="helptext">Click for register</span></th>
                                <th scope="col" class="text-center">Time</th>
                                <th scope="col" class="text-center">Spaces</th>
                                <th scope="col" class="text-center">Waiting List</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event_date, events in track_obj.events_by_date.items %}
                            <tr class="table-secondary table-divider"><td colspan="9">{{ event_date|date:"D d M Y" }}</td></tr>
                            {% for event in events %}
                                <tr>
                                    <td><a href="{% url 'studioadmin:register' event.id %}">{{ event.name }} {% if event.course %}({{ event.course.name }}){% endif  %}</a></td>
                                    <td class="text-center">{{ event.start|date:"H:i" }} - {{ event.end|date:"H:i" }}</td>
                                    <td class="text-center">{{ event.spaces_left }} {% if event.max_participants %}/ {{ event.max_participants }}{% endif %}</td>
                                    <td class="text-center">
                                        <a href="{% url 'studioadmin:event_waiting_list' event.id %}">{{ event.waitinglistusers.count }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'studioadmin/includes/track_pagination.html' %}
            </div>
        {% endfor %}

    </div> <!-- tab content -->
{% else %}
<p>No events created yet</p>
{% endif %}

{% endblock content %}
