{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block precontent %}
    {%  include "studioadmin/includes/events_subnav.html" %}
{% endblock %}

{% block content %}

<div class="container-fluid pb-2">
    <nav>
        <div class="nav nav-tabs" id="trackTabs" role="tablist">
            {% for track_obj in track_events %}
                <a class="nav-item nav-link {{ track_obj.index|get_active_class:tab }}" href="#tab{{ track_obj.index }}" data-toggle="tab">{{ track_obj.track }}</a>
            {%  endfor %}
        </div>
    </nav>
    <div class="tab-content">
        {% for track_obj in track_events %}
            <div class="tab-pane fade {{ track_obj.index|get_active_in_class:tab }}" id="tab{{ track_obj.index }}" role="tabpanel">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><br/><span class="helptext">Click for register</span></th>
                                <th scope="col">Start</th>
                                <th scope="col">Duration</th>
                                <th scope="col" class="text-center">Spaces</th>
                                <th scope="col" class="text-center">Bookings</th>
                                <th scope="col" class="text-center">Waiting List</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event in track_obj.queryset %}
                            <tr>
                                <td><a href="{% url 'studioadmin:register' event.id %}">{{ event.name }}</a></td>
                                <td>{{ event.start|date:"D d M Y, H:i" }}</td>
                                <td>{{ event.duration }} mins</td>
                                <td class="text-center">{{ event.max_participants }}</td>
                                <td class="text-center">{{ event.bookings.count }}</td>
                                <td class="text-center">
                                    <a href="{% url 'studioadmin:event_waiting_list' event.id %}">{{ event.waitinglistusers.count }}</a>
                                </td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}

        {% include 'studioadmin/includes/event_pagination.html' %}

    </div> <!-- tab content -->
</div>

{% endblock content %}
