{% extends "studioadmin/base.html" %}
{% load static %}
{% load accounttags bookingtags %}
{% load crispy_forms_tags %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" integrity="sha512-EvvoSMXERW4Pe9LjDN9XDzHd66p8Z49gcrB7LCUplh0GcEHiV816gXGwIhir6PJiwl0ew8GFM2QaIg2TW02B9A==" crossorigin="anonymous" />
{% endblock %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/events_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/events_subnav.html" %}
{% endblock %}


{% block content %}

    <h2>Register for {{ event }}</h2>

    {% if event.video_link %}
    <h3><a href="{{ event.video_link }}">{{ event.video_link }}</a></h3>
    {% endif %}

    <a class="btn btn-sm btn-outline-success mb-2" href="{% url 'studioadmin:download_register' event.id %}"><i class="fas fa-file-download"></i> Download attendees</a>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="compress">
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center">Attended</th>
                <th scope="col" class="text-center">User</th>
                <th scope="col" class="text-center" style="min-width: 100px;">Notes</th>
                <th scope="col" class="text-center">Details</th>
                <th scope="col" class="text-center">Block</th>
            </tr>
            </thead>
            
            <!-- Modal -->
            {% comment %} <div class="modal fade" id="RegisterBookingAddModal" tabindex="-1" role="dialog" aria-labelledby="RegisterBookingAddModalLabel"></div> {% endcomment %}
            <!-- /.modal -->

            <tbody>
            {% if bookings %}
                {% for booking in bookings %}
                    <tr id='booking-row-{{ booking.id }}' class="compress{% if booking.no_show or booking.status == 'CANCELLED' %} expired{% endif %}">
                        {% if status_choice == 'CANCELLED' %}
                            <td></td>
                            <td></td>
                        {% else %}
                            <td class="text-center">{{ forloop.counter }}.</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                  <button
                                          id="booking-attended-{{ booking.id }}"
                                          data-booking_id="{{ booking.id }}"
                                          data-attendance="attended"
                                          type="button"
                                          class="btn btn-attended {% if booking.attended %}btn-success{% else %}btn-outline-secondary{% endif %}"
                                          >Yes</button>
                                  <button
                                          id="booking-noshow-{{ booking.id }}"
                                          data-booking_id="{{ booking.id }}"
                                          data-attendance="no-show"
                                          type="button"
                                          class="btn btn-noshow {% if booking.no_show %}btn-danger{% else %}btn-outline-secondary{% endif %}"
                                          >No</button>
                                </div>
                            </td>
                        {% endif %}
                        <td class="text-center"> {{ booking.user.first_name }} {{ booking.user.last_name }}</td>
                        <td>
                            <input 
                                id="booking-notes-{{ booking.id }}"
                                data-booking_id="{{ booking.id }}"
                                type="text"
                                class="booking-notes"
                                value={% if booking.notes %}{{ booking.notes }}{% endif %}
                            >
                        </td>
                        <td class="text-center">
                            {% if booking.user|has_disclaimer or booking.user|has_expired_disclaimer %}
                                <a href="{% url 'studioadmin:user_detail' booking.user.id %}" target="_blank"><span id="disclaimer" class="far fa-file-alt"></span></a>
                                {% if not booking.user|has_disclaimer %}<span class=helptext">(expired)</span>{% endif %}
                            {% else %}
                                <span id="disclaimer" class="fas fa-times"></span>
                            {% endif %}
                        </td>
                        <td class="text-center">

                            <div class="d-none d-sm-block">
                                {% include 'studioadmin/includes/register_block_display.html' %}
                            </div>
                            <div class="d-block d-sm-none">
                                <div type="button" data-toggle="tooltip" data-html="true" data-placement="top"
                                        title="{% include 'studioadmin/includes/register_block_display.html' %}">
                                  <i class="text-dark far fa-question-circle"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="6">No bookings for this {{ event.event_type.label }}</td></tr>
            {% endif %}
            </tbody>
            <tfoot>

            <tr>
                <td colspan="6">
                {% if not event.course or event.course.allow_drop_in %}
                    {% if can_add_more %}
                        <form id="booking-add-form" method='post' class="form" role="form">
                            {% csrf_token %}
                            {% crispy add_booking_form %}
                        </form>
                    {% else %}
                        Can't add any more bookings, {{ event.event_type.label }} is full.
                    {% endif %}
                {% else %}
                    Can't add drop-in bookings for this course. To add a new booking for this entire
                    course, go to the <a href="{% url 'studioadmin:users' %}">Students</a> list.
                {% endif %}
                </td>
            </tr>

            {% if event.max_participants %}
                <tr>
                    <td colspan="6">
                        Spaces left: <span id="spaces_left">{{ event.spaces_left }}</span> / {{ event.max_participants }}
                    </td>
                </tr>
            {% endif %}
            </tfoot>

        </table>
    </div>

{% endblock content %}


{% block extra_js %}
{# Load from local if in dev mode (debug on) and not specifically set #}
{% if use_cdn %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous"></script>
{% else %}
    <script type='text/javascript' src="{% static 'js/jquery.form-4.3.0.min.js' %}"></script>
{% endif %}
<script type='text/javascript' src="{% static 'studioadmin/js/register_ajax-v3.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js" integrity="sha512-aFvi2oPv3NjnjQv1Y/hmKD7RNMendo4CZ2DwQqMWzoURKxcqAoktj0nNG4LU8m23+Ws9X5uVDD4OXLqpUVXD5Q==" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_user').multiselect({
            buttonContainer: '<div class="btn-group" />',
            buttonClass: 'btn btn-sm btn-outline-dark',
            buttonWidth: '50%',
            numberDisplayed: 1,
            maxHeight: 400,
            nonSelectedText: 'Click to choose user',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
        });
    });

</script>

{% endblock %}