{%  extends "studioadmin/base.html" %}

{% load studioadmintags static %}

{% block extra_head %}
{% include 'common/includes/ajax_head.html' %}
{% endblock %}

{% block precontent %}
    {%  include "studioadmin/includes/timetable_subnav.html" %}
{% endblock %}

{% block content %}

    <nav>
        <div class="nav nav-tabs" id="timetableTrackTabs" role="tablist">
            {% for track_obj in track_sessions %}
                <a class="nav-item nav-link {% get_active_tab_class track_obj.index tab %}"
                   href="#tab{{ track_obj.index }}" data-toggle="tab">{{ track_obj.track }}</a>
            {%  endfor %}
        </div>
    </nav>

{% if track_sessions %}
    <div class="tab-content">
        {% for track_obj in track_sessions %}
            <div class="tab-pane fade {% get_active_pane_class track_obj.index tab %}" id="tab{{ track_obj.index }}" role="tabpanel">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name<br/><span class="helptext">Click to edit</span></th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Duration</th>
                                <th scope="col" class="text-center">Max Participants</th>
                                <th scope="col">Event Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for session in track_obj.queryset %}
                            <tr id="row-timetable-session-{{ session.id }}">
                                <td><a href="{% url 'studioadmin:update_timetable_session' session.id %}">{{ session.name }}</a></td>
                                <td>{{ session.day }}</td>
                                <td>{{ session.time }}</td>
                                <td>{{ session.duration }} mins</td>
                                <td class="text-center">{{ session.max_participants }}</td>
                                <td>{{ session.event_type.name }}</td>
                                <td>
                                    <span
                                            class="timetable-session-delete-btn"
                                            data-timetable_session_id={{ session.id }}
                                    >
                                        <span class="btn btn-sm btn-danger pt-0 pb-0">Delete</span>
                                    </span>
                                </td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include 'studioadmin/includes/event_pagination.html' %}
        {% endfor %}

    </div> <!-- tab content -->
{% else %}
    <p>No sessions created yet</p>
{% endif %}


{% endblock content %}

{% block extra_js %}
<script type='text/javascript' src="{% static 'studioadmin/js/timetable_ajax-v1.js' %}"></script>
{% endblock %}