{%  extends "studioadmin/base.html" %}

{% load static studioadmintags accounttags email_obfuscator crispy_forms_tags %}

{% block precontent %}
{% endblock %}


{% block content %}
    <h2>Registered User Accounts</h2>

    <form class="mt-4 mb-4">
    {% crispy search_form %}
    </form>

<div class="table-responsive">
    <table class="table table-sm tablesorter" id="sortTable">
        <thead>
        <tr>
            <th class="text-center">
                Name <span class="fa fa-sort"></span>
                {% if request.user.is_staff %}
                    </br><span class="helptext">Click to view activity</span>
                {% endif %}
                </th>
            <th class="text-center">Role</th>
            <th class="text-center">Managed by <span class="fa fa-sort"></span></th>
            <th class="text-center">Disclaimer</th>
            <th class="text-center">Details</th>
            <th class="text-center">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for account_user in users %}
        <tr>
            <td class="text-center">
                {% if request.user.is_staff %}
                <a href="{% url 'studioadmin:user_bookings' account_user.id %}">{{ account_user|full_name|truncatechars:30 }}</a>
                {% else %}
                {{ account_user|full_name|truncatechars:30  }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if account_user.manager_user %}
                    <span class="badge badge-pill badge-success">Student</span>
                {% else %}
                    {% if account_user.is_student %}
                        <span class="badge badge-pill badge-success">Student</span>
                    {% endif %}
                    {% if account_user.is_manager %}
                        <span class="badge badge-pill badge-warning">Manager</span>
                    {% endif %}
                {% endif %}
            </td>
            <td class="text-center">{% if account_user.manager_user %}{{ account_user.manager_user|full_name|truncatechars:30  }}{% else %}-{% endif %}</td>
            <td class="text-center">
                {% if account_user|has_disclaimer %}
                    <span class="badge badge-pill badge-primary">Yes</span>
                {% elif account_user|has_expired_disclaimer %}
                    Expired
                {% else %}No{% endif %}
            </td>
            <td class="text-center">
                <a href="{% url 'studioadmin:user_detail' account_user.id %}"><i class="fas fa-link"></i></a>
            </td>
            <td class="text-center">
                {% if account_user.manager_user %}
                    {{ account_user.manager_user.email|obfuscate_mailto }}
                {% else %}
                    {{ account_user.email|obfuscate_mailto }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                Total: {{ total_users }} users
            </td>
        </tr>
        </tfoot>
    </table>

      {% include 'common/includes/single_page_pagination.html' %}

</div>

{% endblock %}
