{%  extends "studioadmin/base.html" %}

{% load accounttags studioadmintags static %}

{% block precontent %}
    {%  include "studioadmin/includes/navs/user_detail_subnav.html" %}
{% endblock %}

{% block content %}
    {% if past %}
    <h2>{{ account_user|full_name }}: Booking History</h2>
    {% else %}
    <h2>{{ account_user|full_name }}: Bookings</h2>
    {% endif %}

    <div class="float-right">
    {% if past %}
        <a class="d-block d-md-none" href="{% url 'studioadmin:user_bookings' account_user.id %}">View upcoming bookings</a>
    {% else %}
        <a class="d-block d-md-none" href="{% url 'studioadmin:past_user_bookings' account_user.id %}">View booking history</a>
    {% endif  %}
    </div>
    <a class="bookingadd btn btn-success btn-sm mb-2" href="#" data-form="{% url 'studioadmin:bookingadd' account_user.id %}" title="add booking">Add new booking</a>

    <!-- Modal -->
    <div class="modal fade" id="UserBookingModal" tabindex="-1" role="dialog" aria-labelledby="UserBookingModalLabel"></div>
    <div class="modal fade" id="UserBookingAddModal" tabindex="-1" role="dialog" aria-labelledby="UserBookingAddModalLabel"></div>
    <!-- /.modal -->

    {% if bookings %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Date/time</th>
                <th>Event</th>
                <th>Track</th>
                <th>Status</th>
                <th>Block/Subscription used</th>
            </tr>
            </thead>

            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>
                            <a class="bookingedit" href="#"
                                   data-form="{% url 'studioadmin:bookingedit' booking.id %}"
                                   title="edit booking">Edit</a>
                        </td>
                        <td>{{ booking.event.start|date:"D d M Y, H:i" }}</td>
                        <td>{{ booking.event.name }} {% if booking.event.course %}({{ booking.event.course.name }}){% endif %}</td>
                        <td>{{ booking.event.event_type.track }}</td>
                        <td>
                            {% if booking.status == "OPEN" and booking.no_show %}
                                CANCELLED (No-show)
                            {% else %}
                            {{ booking.status }}
                            {% endif %}
                        </td>
                        <td>
                            {% if booking.block %}
                                <div class="badge badge-info" data-toggle="tooltip" data-placement="top" title="{{ booking.block.block_config.name }} (block)">
                                    Yes
                                </div>
                            {% elif booking.subscription %}
                                <div class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="{{ booking.subscription.config.name }} (subscription)">
                                    Yes
                                </div>
                            {% else %}-{% endif %}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

      {% include 'common/includes/single_page_pagination.html' %}

    {% else %}
        <p>No upcoming bookings</p>
    {% endif %}

{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script>
    $(".bookingedit").click(function(ev) { // for each edit url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the form url
        $("#UserBookingModal").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });

        return false; // prevent the click propagation
    });
</script>
<script>
    $(".bookingadd").click(function(ev) { // for each add url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the form url
        $("#UserBookingAddModal").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });

        return false; // prevent the click propagation
    });

</script>
{% endblock %}
