{%  extends "studioadmin/base.html" %}

{% load accounttags studioadmintags static %}

{% block precontent %}
    {%  include "studioadmin/includes/navs/user_detail_subnav.html" %}
{% endblock %}

{% block content %}

    <h2>{{ account_user|full_name }}: Blocks</h2>

    <a class="blockadd btn btn-success btn-sm mb-2" href="#" data-form="{% url 'studioadmin:blockadd' account_user.id %}" title="add block">Add new block</a>

    <!-- Modal -->
    <div class="modal fade" id="UserBlockModal" tabindex="-1" role="dialog" aria-labelledby="UserBlockModalLabel"></div>
    <div class="modal fade" id="UserBlockAddModal" tabindex="-1" role="dialog" aria-labelledby="UserBlockAddModalLabel"></div>
    <!-- /.modal -->

    {% if blocks %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th class="text-center">Status</th>
                <th class="text-center">Type</th>
                <th class="text-center">Size</th>
                <th class="text-center">Used</th>
                <th class="text-center">Purchased</th>
                <th class="text-center">Start</th>
                <th class="text-center">Expiry</th>
                <th class="text-center">Delete<br/><span class="helptext">Unpaid only</span></th>
            </tr>
            </thead>

            <tbody>
                {% for block in blocks %}
                    <tr id="row-block-{{ block.id }}" {% if block.expired or block.full %}class="expired"{% endif %}>
                        <td>
                            <a class="blockedit" href="#"
                                   data-form="{% url 'studioadmin:blockedit' block.id %}"
                                   title="edit block">Edit</a>
                        </td>
                        <td class="text-center">{{ block.status }}
                            {% if block.active_block %}
                                ACTIVE
                            {% elif block.expired or block.full %}
                                EXPIRED
                            {% else %}
                                UNPAID
                            {% endif %}
                        </td>
                        <td class="text-center">{{ block.block_config }}</td>
                        <td class="text-center">{{ block.block_config.size }}</td>
                        <td class="text-center">{{ block.bookings.count }}</td>
                        <td class="text-center">{{ block.purchase_date|date:"d-M-y" }}</td>
                        <td class="text-center">{{ block.start_date|date:"d-M-y" }}</td>
                        <td class="text-center">{{ block.expiry_date|date:"d-M-y" }}</td>
                        <td class="text-center">
                            {% if not block.paid %}
                                <span
                                    class="block-delete-btn"
                                    data-block_id={{ block.id }}
                                    >
                                <span class="btn btn-sm btn-danger pt-0 pb-0"><i class="far fa-trash-alt"></i></span>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

     {% include 'common/includes/single_page_pagination.html' %}

    {% else %}
        <p>No blocks</p>
    {% endif %}

{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script type='text/javascript' src="{% static 'studioadmin/js/user_blocks_ajax-v1.js' %}"></script>

{% endblock %}
