{%  extends "studioadmin/base.html" %}

{% load accounttags studioadmintags static %}

{% block precontent %}
    {%  include "studioadmin/includes/navs/user_detail_subnav.html" %}
{% endblock %}

{% block content %}

    <h2>{{ account_user|full_name }}: Blocks</h2>

    <a class="blockadd btn btn-success btn-sm mb-2" href="#" data-form="{% url 'studioadmin:blockadd' account_user.id %}" title="add block">Add new block</a>

    <!-- Modal -->
    <div class="modal fade" id="UserBlockModal" tabindex="-1" role="dialog" aria-labelledby="UserBlockModalLabel"></div>
    <div class="modal fade" id="UserBlockAddModal" tabindex="-1" role="dialog" aria-labelledby="UserBlockAddModalLabel"></div>
    <div class="modal fade" id="UserCourseBlockModal" tabindex="-1" role="dialog" aria-labelledby="UserCourseBlockModalLabel"></div>

    <!-- /.modal -->

    {% if blocks %}
        <table class="table table-responsive">
            <thead>
            <tr>
                <th></th>
                <th class="text-center">Status</th>
                <th class="text-center">Type</th>
                <th class="text-center">Size</th>
                <th class="text-center">Used</th>
                <th class="text-center">Purchased</th>
                <th class="text-center">Start</th>
                <th class="text-center">Expiry</th>
                <th class="text-center">Paid</th>
                <th class="text-center">Delete 
                    <span class="text-secondary"
                        data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="<ul class='helptext pl-0'>Unpaid blocks only; will also delete associated bookings</ul>"
                    ><i class="fas fa-info-circle"></i>
                </span>
            </th>
            </tr>
            </thead>

            <tbody>
                {% for block in blocks %}
                    <tr id="row-block-{{ block.id }}" {% if block.expired or block.full and not block.block_config.course %}class="expired"{% endif %}>
                        <td>
                            <a class="blockedit btn btn-success btn-xs btn-xs-narrow pt-0 pb-0" href="#"
                                   data-form="{% url 'studioadmin:blockedit' block.id %}"
                               title="edit block">Edit</a>

                            {% if block.block_config.course and block.paid %}
                                <br/><a class="courseblockchange btn btn-warning btn-xs btn-xs-narrow pt-0 pb-0" href="#"
                                       data-form="{% url 'studioadmin:courseblockchange' block.id %}"
                                      title="change course on block">
                                {% if block.bookings.exists %}Change{% else %}Add{% endif %} Course</a>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ block.status }}
                            {% if block.active_block %}
                                ACTIVE
                            {% elif block.full %}
                                FULL
                            {% elif block.expired %}
                                EXPIRED
                            {% else %}
                                UNPAID
                            {% endif %}
                        </td>
                        <td class="text-center"><small>{{ block.block_config }}</small></td>
                        <td class="text-center">{{ block.block_config.size }}</td>
                        <td class="text-center">
                        {% if block.bookings.exists %}
                            {% if block.block_config.course %}
                                <div
                                    class="badge badge-secondary pr-2 pl-2"
                                    data-toggle="tooltip"
                                     data-placement="top"
                                     data-html="true"
                                     title="<ul class='helptext pl-0'>Starts {{ block.bookings.first.event.course.start|date:"D d-M-Y" }}">
                                {{ block.bookings.first.event.course.name }}</div>
                            {% else %}
                            <div
                                    class="badge badge-secondary pr-2 pl-2"
                                    data-toggle="tooltip"
                                     data-placement="top"
                                     data-html="true"
                                     title="<ul class='helptext pl-0'>{% for booking in block.bookings.all %}<li>{{ booking.event }}</li>{% endfor %}</ul>">
                                {{ block.bookings.count }}</div>
                            {% endif %}
                        {% else %}
                        -
                        {% endif %}
                        </td>
                        <td class="text-center"><small>{{ block.purchase_date|date:"d-M-y" }}</small></td>
                        <td class="text-center"><small>{% if block.paid %}{{ block.start_date|date:"d-M-y" }}{% endif %}</small></td>
                        <td class="text-center"><small>{% if block.paid %}{{ block.expiry_date|date:"d-M-y" }}{% endif %}</small></td>
                        <td class="text-center">
                            {% if block.paid %}
                                <div class="badge badge-success">
                                    Yes
                                </div>
                                {% else %}
                                <div class="badge badge-danger">
                                    Pending
                                </div>
                            {% endif %}
                        </td>    
                        <td class="text-center">
                            {% if not block.paid %}
                                <span
                                    class="block-delete-btn"
                                    data-block_id={{ block.id }}
                                    >
                                <span class="btn btn-sm btn-danger pt-0 pb-0"><i class="far fa-trash-alt"></i></span>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

     {% include 'common/includes/single_page_pagination.html' %}

    {% else %}
        <p>No blocks</p>
    {% endif %}

{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script type='text/javascript' src="{% static 'studioadmin/js/user_blocks_ajax-v1.1.js' %}"></script>

{% endblock %}
