{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block subnav-xs %}
    {%  include "studioadmin/includes/navs/xs/vouchers_subnav.html" %}
{% endblock %}
{% block precontent %}
    {%  include "studioadmin/includes/navs/vouchers_subnav.html" %}
{% endblock %}

{% block content %}


<h2>{% if gift_vouchers %}Gift {% endif %}Vouchers</h2>

<table class="table table-responsive tablesorter" id="sortTable">
<thead>
<tr class="success">
    <th class="text-center">Voucher code</br><span class="helptext">Click to edit</span></th>
    <th class="text-center">Discount</th>
    <th class="text-center">Start Date</th>
    <th class="text-center">Expiry Date</th>
    <th class="text-center">Max<br/>per user</th>
    <th class="text-center">Max<br/>total uses</th>
    <th class="text-center">Times used</br><span class="helptext">Click for details</span></th>
    <th>Valid for</th>
    <th class="text-center">Printable<br/>voucher</th>
</tr>
</thead>
<tbody>
{% if vouchers %}
    {% for voucher in vouchers %}
    <tr {% if voucher.has_expired %}class="expired"{% endif %}>
        <td class="text-center"><a href="{% url 'studioadmin:edit_voucher' voucher.pk %}">{{ voucher.code }}</a></td>
        <td class="text-center">{% if voucher.discount %}{{ voucher.discount }}%{% else %}£{{ voucher.discount_amount }}{% endif %}</td>
        <td class="text-center">{{ voucher.start_date|date:"d M Y" }}
        <td class="text-center">{% if voucher.expiry_date %}{{ voucher.expiry_date|date:"d M Y" }}{% else %}N/A{% endif %}</td>
        <td class="text-center">{% if voucher.max_per_user %}{{ voucher.max_per_user }}{% else %}N/A{% endif %}</td>
        <td class="text-center">{% if voucher.max_vouchers %}{{ voucher.max_vouchers }}{% else %}N/A{% endif %}</td>
        <td class="text-center"><a href="{% url 'studioadmin:voucher_uses' voucher.pk %}">{{ voucher.uses }}</a></td>
        <td>{% for bt in voucher.block_configs.all %}{{ bt }}</br>{% endfor %}</td>
        <td class="text-center"><a href="{% url 'studioadmin:voucher_uses' voucher.pk %}" target="_blank"><span class="fas fa-link"></span></a> </td>
    </tr>
    {% endfor %}
{% else %}
  <tr><td colspan="9">No vouchers found</td></tr>
{% endif %}
</tbody>
</table>

{% include 'common/includes/single_page_pagination.html' %}


{% endblock content %}
