{% load email_obfuscator %}

<html>
<body>

<div class="row">
    {%  block donotreply %}<div style="font-family: sans-serif; font-size: small;">{% include "accounts/email/do_not_reply.html" %}</div></br>{% endblock %}
    <div style="font-family: sans-serif;">
    {% block messagecontent %}{% endblock %}
    </div>
    <div class="row" style="padding-top: 3em;">
        {% with 'sites/'|add:site|add:'/email_footer_logo.html' as snippet %}
            {% include snippet %}
        {% endwith %}
        <div class="col-12" style="font-family: sans-serif; padding-top: 1em;">
            {{ site_title|upper }}<br />
            {{ studio_email|obfuscate }}
        </div>
    </div>
</div>

</body>
</html>
