<html>
<body>

<div class="row">
    {%  block donotreply %}<div style="font-family: sans-serif; font-size: small;">{% include "accounts/email/do_not_reply.html" %}</div></br>{% endblock %}
    <div style="font-family: sans-serif;">
    {% block messagecontent %}{% endblock %}
    </div>
    <div class="row" style="padding-top: 3em;">
        <div class="col-12">
            <a href=http://www.freedomofflightaerial.com"><img src="{{ host }}/static/images/fof_logo_black.png"
            width="70px"
            height="auto"
            border="0"
            alt="Freedom of Flight Aerial logo">
            </a>
        </div>
        <div class="col-12" style="font-family: sans-serif; padding-top: 1em;">
            FREEDOM OF FLIGHT AERIAL<br />
            {{ studio_email }}
        </div>
    </div>
</div>

</body>
</html>
