{% extends "base.html" %}

{% load accounttags bookingtags static %}

{% block content %}
    <h2 class="mt-1">{{ product.name }}</h2>
        {%  if request.user.is_authenticated %}
          <div class="mb-2">
              <a class="btn btn-outline-primary btn-xs" href="{% url 'booking:shopping_basket' %}"><span>View cart <i class="fas fa-shopping-cart"></i></span></a>
          </div>
        {% endif %}
        <h3>Purchase options</h3>
        <ul>
        {% for variant in product.variants.all %}
            <li>{% if variant.size %}{{ variant.size }} - {% endif %}£{{ variant.cost }}</li>
        {% endfor %}
        </ul>

{% endblock content %}
