    {{ form.non_field_errors }}
    {% for field in form %}
        {% if field.name  == 'data_privacy_confirmation' %}
    <div class="dp-box pre-scrollable" xmlns="https://www.w3.org/1999/html"><h2>Data Privacy Policy</h2>
            <h5>Version: {{ form.data_privacy_policy.version }}.  Issue date: {{ form.data_privacy_policy.issue_date | date:'d M Y' }}.</h5>
                {{ form.data_privacy_policy.content|safe }}
            </div>
            <div class="form-group">
               <div>
                   {{ field }}<label for='id_data_privacy_confirmation'></label>
                     <label class="control-label" for='id_data_privacy_confirmation'>{{ field.label }}</label>
                    {% if field.errors %}<span class="errorlist">{{ field.errors }}</span>{% endif %}
               </div>
           </div>

        {% elif field.name  == 'student' or field.name  == 'manager' %}
            <div class="form-check">
                {{ field }}
                <label class="form-check-label" for="{{ field.name }}_id">{{  field.label }}</label>
                {% if field.help_text %}<br/><span class="helptext">{{ field.help_text }}</span>{% endif %}
            </div>
        {% elif field.name == "password1" %}
            <div class="form-group">
                <label for="{{ field.name }}_id">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                {{ field }}
                <span class="helptext">{{ form.password_help_text }}</span>
                {% if field.errors %}<div class="errorlist">{{ field.errors }}</div>{% endif %}
            </div>
        {% else %}
            <div class="form-group">
                <label for="{{ field.name }}_id">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                {{ field }}
                {% if field.help_text %}<br/><span class="helptext">{{ field.help_text }}</span>{% endif %}
                {% if field.errors %}<div class="errorlist">{{ field.errors }}</div>{% endif %}
            </div>

        {%  endif %}
    {% endfor %}

