<span class="footer-credit float-left">
<a href="https://www.facebook.com/freedomofflightaerial"><i class="fab fa-facebook-square fa-lg"></i></a>
<a href="https://www.instagram.com/freedom_of_flight_aerial"><i class="fab fa-instagram-square fa-lg"></i></a>
<a href="https://freedomofflightaerial.com/"><i class="fas fa-globe fa-lg"></i></a>
</span>
<span class="footer-credit ml-2 mb-0 pb-0">
  <a style="color: #0B0B61" href="{% url 'accounts:data_privacy_policy' %}">
      <span class="d-none d-sm-inline-block">Code of Conduct & Data Privacy</span>
      <span class="d-sm-none d-inline-block">CoC & Privacy</span></a> |
  <a style="color: #0B0B61" href="{% url 'booking:covid19_policy' %}">
      <span class="d-none d-sm-inline-block">Covid-19 Policy</span>
      <span class="d-sm-none d-inline-block">Covid-19</span></a> |
  <a style="color: #0B0B61" href="{% url 'booking:terms_and_conditions' %}">
      <span class="d-none d-sm-inline-block">Terms & Conditions</span>
      <span class="d-sm-none d-inline-block">T&C</span></a>
 </span>